@import "@fontsource-variable/inter";
@import "@fontsource-variable/geist";

@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Temporary fixes for Tailwind v3 compatibility with @povio/ui */
:root {
  --breakpoint-sm: 23.75rem;
  --breakpoint-md: 37.5rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 105rem;

  --spacing-2: 0.5rem;
  --spacing-input-side-xs: 0.25rem;
  --spacing-input-side-s: 0.375rem;
  --spacing-input-side-m: 0.625rem;
  --spacing-input-side-l: 0.75rem;
}

.m-0\! {
  margin: 0 !important;
}

.min-h-0\! {
  min-height: 0 !important;
}

.w-auto\! {
  width: auto !important;
}

.bg-transparent\! {
  background-color: transparent !important;
}

.p-0\! {
  padding: 0 !important;
}

.shadow-none\! {
  box-shadow: none !important;
}
