:root {
  --elevation-fill-default-1-base: 255 255 255;
  --elevation-fill-default-2-base: 246 247 248;
  --elevation-outline-default-1-base: 218 221 226;
  --elevation-outline-default-2-base: 192 198 205;
  --interactive-contained-primary-on-idle-base: 255 255 255;
  --interactive-contained-primary-idle-base: 43 81 212;
  --interactive-contained-primary-hover-base: 71 127 234;
  --interactive-contained-primary-disabled-base: 154 194 246;
  --interactive-contained-primary-focus-base: 106 161 240;
  --interactive-contained-secondary-on-idle-base: 255 255 255;
  --interactive-contained-secondary-idle-base: 37 41 48;
  --interactive-contained-secondary-hover-base: 83 89 99;
  --interactive-contained-secondary-disabled-base: 162 169 180;
  --interactive-contained-secondary-focus-base: 24 28 35;
  --interactive-outlined-primary-on-idle-base: 43 81 212;
  --interactive-outlined-primary-outline-idle-base: 43 81 212;
  --interactive-outlined-primary-outline-hover-base: 71 127 234;
  --interactive-outlined-primary-outline-disabled-base: 162 169 180;
  --interactive-outlined-primary-focus-base: 106 161 240;
  --text-default-1-base: 24 28 35;
  --text-default-2-base: 83 89 99;
  --text-inverted-1-base: 237 238 241;
  --text-inverted-2-base: 218 221 226;
  --text-default-3-base: 135 143 155;
  --text-inverted-3-base: 192 198 205;
  --interactive-contained-primary-pressed-base: 106 161 240;
  --interactive-contained-secondary-pressed-base: 135 143 155;
  --interactive-outlined-primary-outline-pressed-base: 106 161 240;
  --elevation-fill-default-3-base: 237 238 241;
  --input-outlined-idle-base: 255 255 255;
  --input-outlined-active-base: 255 255 255;
  --input-filled-idle-base: 237 238 241;
  --input-filled-active-base: 255 255 255;
  --input-outlined-hover-base: 255 255 255;
  --input-outlined-error-base: 255 255 255;
  --input-outlined-disabled-base: 255 255 255;
  --input-filled-hover-base: 237 238 241;
  --input-filled-error-base: 237 238 241;
  --input-filled-disabled-base: 237 238 241;
  --interactive-contained-success-on-idle-base: 255 255 255;
  --interactive-contained-success-idle-base: 22 163 74;
  --interactive-contained-success-hover-base: 34 197 94;
  --interactive-contained-success-pressed-base: 74 222 129;
  --interactive-contained-success-disabled-base: 134 239 173;
  --interactive-contained-success-focus-base: 24 28 35;
  --interactive-contained-warning-on-idle-base: 255 255 255;
  --interactive-contained-warning-idle-base: 245 136 11;
  --interactive-contained-warning-hover-base: 251 151 36;
  --interactive-contained-warning-pressed-base: 252 171 77;
  --interactive-contained-warning-disabled-base: 253 200 138;
  --interactive-contained-warning-focus-base: 24 28 35;
  --interactive-contained-error-on-idle-base: 255 255 255;
  --interactive-contained-error-idle-base: 212 63 43;
  --interactive-contained-error-hover-base: 232 94 75;
  --interactive-contained-error-pressed-base: 242 134 119;
  --interactive-contained-error-disabled-base: 248 178 169;
  --interactive-contained-error-focus-base: 24 28 35;
  --interactive-outlined-secondary-on-idle-base: 83 89 99;
  --interactive-outlined-secondary-outline-idle-base: 192 198 205;
  --interactive-outlined-secondary-outline-hover-base: 37 41 48;
  --interactive-outlined-secondary-outline-pressed-base: 24 28 35;
  --interactive-outlined-secondary-outline-disabled-base: 162 169 180;
  --interactive-outlined-secondary-focus-base: 24 28 35;
  --interactive-outlined-success-on-idle-base: 22 163 74;
  --interactive-outlined-success-outline-idle-base: 22 163 74;
  --interactive-outlined-success-outline-hover-base: 34 197 94;
  --interactive-outlined-success-outline-pressed-base: 74 222 129;
  --interactive-outlined-success-outline-disabled-base: 162 169 180;
  --interactive-outlined-success-focus-base: 24 28 35;
  --interactive-outlined-warning-on-idle-base: 245 136 11;
  --interactive-outlined-warning-outline-idle-base: 245 136 11;
  --interactive-outlined-warning-outline-hover-base: 251 151 36;
  --interactive-outlined-warning-outline-pressed-base: 252 171 77;
  --interactive-outlined-warning-outline-disabled-base: 162 169 180;
  --interactive-outlined-warning-focus-base: 24 28 35;
  --interactive-outlined-error-on-idle-base: 212 63 43;
  --interactive-outlined-error-outline-idle-base: 212 63 43;
  --interactive-outlined-error-outline-hover-base: 232 94 75;
  --interactive-outlined-error-outline-pressed-base: 242 134 119;
  --interactive-outlined-error-outline-disabled-base: 162 169 180;
  --interactive-outlined-error-focus-base: 24 28 35;
  --interactive-subtle-primary-on-idle-base: 40 64 165;
  --interactive-subtle-primary-idle-base: 240 245 254;
  --interactive-subtle-primary-hover-base: 221 233 252;
  --interactive-subtle-primary-pressed-base: 195 217 250;
  --interactive-subtle-primary-disabled-base: 240 245 254;
  --interactive-subtle-primary-focus-base: 106 161 240;
  --interactive-subtle-secondary-on-idle-base: 37 41 48;
  --interactive-subtle-secondary-idle-base: 237 238 241;
  --interactive-subtle-secondary-hover-base: 218 221 226;
  --interactive-subtle-secondary-pressed-base: 192 198 205;
  --interactive-subtle-secondary-disabled-base: 237 238 241;
  --interactive-subtle-secondary-focus-base: 24 28 35;
  --interactive-subtle-success-on-idle-base: 22 101 51;
  --interactive-subtle-success-idle-base: 220 252 232;
  --interactive-subtle-success-hover-base: 187 247 209;
  --interactive-subtle-success-pressed-base: 134 239 173;
  --interactive-subtle-success-disabled-base: 220 252 232;
  --interactive-subtle-success-focus-base: 24 28 35;
  --interactive-subtle-warning-on-idle-base: 146 85 14;
  --interactive-subtle-warning-idle-base: 254 228 199;
  --interactive-subtle-warning-hover-base: 253 200 138;
  --interactive-subtle-warning-pressed-base: 252 171 77;
  --interactive-subtle-warning-disabled-base: 254 228 199;
  --interactive-subtle-warning-focus-base: 24 28 35;
  --interactive-subtle-error-on-idle-base: 148 46 32;
  --interactive-subtle-error-idle-base: 253 230 227;
  --interactive-subtle-error-hover-base: 250 204 197;
  --interactive-subtle-error-pressed-base: 248 178 169;
  --interactive-subtle-error-disabled-base: 253 230 227;
  --interactive-subtle-error-focus-base: 24 28 35;
  --interactive-subtle-primary-on-disabled-base: 154 194 246;
  --interactive-subtle-secondary-on-disabled-base: 192 198 205;
  --interactive-subtle-success-on-disabled-base: 74 222 129;
  --interactive-subtle-warning-on-disabled-base: 252 171 77;
  --interactive-subtle-error-on-disabled-base: 242 134 119;
  --text-success-1-base: 22 163 74;
  --text-warning-1-base: 245 136 11;
  --text-error-1-base: 212 63 43;
  --interactive-text-primary-idle-base: 43 81 212;
  --interactive-text-primary-hover-base: 71 127 234;
  --interactive-text-primary-pressed-base: 106 161 240;
  --interactive-text-primary-disabled-base: 135 143 155;
  --interactive-text-primary-idle-inverted-base: 240 245 254;
  --interactive-text-primary-hover-inverted-base: 154 194 246;
  --interactive-text-primary-pressed-inverted-base: 71 127 234;
  --interactive-text-secondary-idle-base: 37 41 48;
  --interactive-text-secondary-hover-base: 83 89 99;
  --interactive-text-secondary-pressed-base: 135 143 155;
  --interactive-text-secondary-disabled-base: 135 143 155;
  --interactive-text-secondary-idle-inverted-base: 246 247 248;
  --interactive-text-secondary-hover-inverted-base: 218 221 226;
  --interactive-text-secondary-pressed-inverted-base: 192 198 205;
  --interactive-text-success-idle-base: 22 163 74;
  --interactive-text-success-hover-base: 34 197 94;
  --interactive-text-success-pressed-base: 74 222 129;
  --interactive-text-success-disabled-base: 135 143 155;
  --interactive-text-success-idle-inverted-base: 240 253 245;
  --interactive-text-success-hover-inverted-base: 187 247 209;
  --interactive-text-success-pressed-inverted-base: 74 222 129;
  --interactive-text-warning-idle-base: 217 119 6;
  --interactive-text-warning-hover-base: 245 136 11;
  --interactive-text-warning-pressed-base: 251 151 36;
  --interactive-text-warning-disabled-base: 135 143 155;
  --interactive-text-warning-idle-inverted-base: 255 246 235;
  --interactive-text-warning-hover-inverted-base: 253 200 138;
  --interactive-text-warning-pressed-inverted-base: 252 171 77;
  --interactive-text-error-idle-base: 212 63 43;
  --interactive-text-error-hover-base: 232 94 75;
  --interactive-text-error-pressed-base: 242 134 119;
  --interactive-text-error-disabled-base: 135 143 155;
  --interactive-text-error-idle-inverted-base: 254 243 242;
  --interactive-text-error-hover-inverted-base: 250 204 197;
  --interactive-text-error-pressed-inverted-base: 248 178 169;
  --support-default-base: 0 0 0;
  --support-inverted-base: 255 255 255;
  --interactive-outlined-primary-hover-base: 240 245 254;
  --interactive-outlined-secondary-hover-base: 246 247 248;
  --interactive-outlined-success-hover-base: 240 253 245;
  --interactive-outlined-warning-hover-base: 255 246 235;
  --interactive-outlined-error-hover-base: 254 243 242;
  --elevation-outline-default-3-base: 162 169 180;
  --elevation-outline-inverted-1-base: 37 41 48;
  --elevation-outline-inverted-2-base: 83 89 99;
  --elevation-outline-inverted-3-base: 107 115 126;
  --elevation-outline-success-1-base: 74 222 129;
  --elevation-outline-warning-1-base: 252 171 77;
  --elevation-outline-error-1-base: 232 94 75;
  --elevation-fill-inverted-1-base: 24 28 35;
  --elevation-fill-inverted-2-base: 37 41 48;
  --elevation-fill-inverted-3-base: 83 89 99;
  --elevation-fill-success-1-base: 22 163 74;
  --elevation-fill-warning-1-base: 245 136 11;
  --elevation-fill-error-1-base: 212 63 43;
  --text-success-2-base: 34 197 94;
  --text-warning-2-base: 251 151 36;
  --text-error-2-base: 232 94 75;
  --text-success-3-base: 74 222 129;
  --text-warning-3-base: 252 171 77;
  --text-error-3-base: 242 134 119;
  --interactive-contained-primary-on-hover-base: 255 255 255;
  --interactive-contained-primary-on-pressed-base: 255 255 255;
  --interactive-contained-primary-on-disabled-base: 255 255 255;
  --interactive-contained-secondary-on-hover-base: 255 255 255;
  --interactive-contained-secondary-on-pressed-base: 255 255 255;
  --interactive-contained-secondary-on-disabled-base: 255 255 255;
  --interactive-contained-success-on-hover-base: 255 255 255;
  --interactive-contained-success-on-pressed-base: 255 255 255;
  --interactive-contained-success-on-disabled-base: 255 255 255;
  --interactive-contained-warning-on-hover-base: 255 255 255;
  --interactive-contained-warning-on-pressed-base: 255 255 255;
  --interactive-contained-warning-on-disabled-base: 255 255 255;
  --interactive-contained-error-on-hover-base: 255 255 255;
  --interactive-contained-error-on-pressed-base: 255 255 255;
  --interactive-contained-error-on-disabled-base: 255 255 255;
  --interactive-outlined-primary-on-hover-base: 71 127 234;
  --interactive-outlined-primary-on-pressed-base: 106 161 240;
  --interactive-outlined-primary-on-disabled-base: 162 169 180;
  --interactive-outlined-secondary-on-hover-base: 37 41 48;
  --interactive-outlined-secondary-on-pressed-base: 24 28 35;
  --interactive-outlined-secondary-on-disabled-base: 162 169 180;
  --interactive-outlined-success-on-hover-base: 34 197 94;
  --interactive-outlined-success-on-pressed-base: 74 222 129;
  --interactive-outlined-success-on-disabled-base: 162 169 180;
  --interactive-outlined-warning-on-hover-base: 251 151 36;
  --interactive-outlined-warning-on-pressed-base: 252 171 77;
  --interactive-outlined-warning-on-disabled-base: 162 169 180;
  --interactive-outlined-error-on-hover-base: 232 94 75;
  --interactive-outlined-error-on-pressed-base: 242 134 119;
  --interactive-outlined-error-on-disabled-base: 162 169 180;
  --interactive-subtle-primary-toggled-idle-base: 221 233 252;
  --interactive-subtle-primary-on-hover-base: 40 64 165;
  --interactive-subtle-primary-on-pressed-base: 40 64 165;
  --interactive-subtle-primary-on-toggled-idle-base: 43 81 212;
  --interactive-subtle-secondary-toggled-idle-base: 218 221 226;
  --interactive-subtle-secondary-on-hover-base: 37 41 48;
  --interactive-subtle-secondary-on-pressed-base: 37 41 48;
  --interactive-subtle-secondary-on-toggled-idle-base: 37 41 48;
  --interactive-subtle-success-on-hover-base: 22 101 51;
  --interactive-subtle-success-on-pressed-base: 22 101 51;
  --interactive-subtle-warning-on-hover-base: 146 85 14;
  --interactive-subtle-warning-on-pressed-base: 146 85 14;
  --interactive-subtle-error-on-hover-base: 148 46 32;
  --interactive-subtle-error-on-pressed-base: 148 46 32;
  --interactive-outlined-primary-on-toggled-idle-base: 255 255 255;
  --interactive-outlined-primary-on-toggled-hover-base: 255 255 255;
  --interactive-outlined-primary-on-toggled-disabled-base: 255 255 255;
  --interactive-outlined-primary-toggled-idle-base: 43 81 212;
  --interactive-outlined-primary-toggled-hover-base: 71 127 234;
  --interactive-outlined-primary-toggled-disabled-base: 162 169 180;
  --interactive-outlined-primary-idle-base: #ffffff00;
  --interactive-outlined-primary-pressed-base: 240 245 254;
  --interactive-outlined-primary-disabled-base: #ffffff00;
  --interactive-outlined-secondary-idle-base: #ffffff00;
  --interactive-outlined-secondary-pressed-base: 246 247 248;
  --interactive-outlined-secondary-disabled-base: #ffffff00;
  --interactive-outlined-secondary-on-toggled-idle-base: 255 255 255;
  --interactive-outlined-secondary-on-toggled-hover-base: 255 255 255;
  --interactive-outlined-secondary-on-toggled-disabled-base: 255 255 255;
  --interactive-outlined-secondary-toggled-idle-base: 24 28 35;
  --interactive-outlined-secondary-toggled-hover-base: 135 143 155;
  --interactive-outlined-secondary-toggled-disabled-base: 162 169 180;
  --interactive-outlined-success-idle-base: #ffffff00;
  --interactive-outlined-success-pressed-base: 240 253 245;
  --interactive-outlined-success-disabled-base: #ffffff00;
  --interactive-outlined-warning-idle-base: #ffffff00;
  --interactive-outlined-warning-pressed-base: 255 246 235;
  --interactive-outlined-warning-disabled-base: #ffffff00;
  --interactive-outlined-error-pressed-base: 254 243 242;
  --interactive-outlined-error-idle-base: #ffffff00;
  --interactive-outlined-error-disabled-base: #ffffff00;
  --elevation-fill-inverted-4-base: 107 115 126;
  --interactive-text-primary-focus-base: 106 161 240;
  --interactive-text-secondary-focus-base: 24 28 35;
  --interactive-text-secondary-focus-inverted-base: 218 221 226;
  --interactive-text-primary-focus-inverted-base: 195 217 250;
  --interactive-text-success-focus-base: 24 28 35;
  --interactive-text-success-focus-inverted-base: 218 221 226;
  --interactive-text-warning-focus-base: 24 28 35;
  --interactive-text-warning-focus-inverted-base: 218 221 226;
  --interactive-text-error-focus-base: 24 28 35;
  --interactive-text-error-focus-inverted-base: 218 221 226;
  --interactive-subtle-secondary-on-toggled-hover-base: 37 41 48;
  --interactive-subtle-secondary-on-toggled-disabled-base: 162 169 180;
  --interactive-subtle-secondary-toggled-hover-base: 135 143 155;
  --interactive-subtle-secondary-toggled-disabled-base: 237 238 241;
  --interactive-text-primary-disabled-inverted-base: 135 143 155;
  --interactive-text-secondary-disabled-inverted-base: 135 143 155;
  --interactive-text-success-disabled-inverted-base: 21 128 60;
  --interactive-text-warning-disabled-inverted-base: 217 119 6;
  --interactive-text-error-disabled-inverted-base: 179 51 34;
  --interactive-subtle-primary-on-toggled-hover-base: 40 64 165;
  --interactive-subtle-primary-on-toggled-disabled-base: 162 169 180;
  --interactive-subtle-primary-toggled-hover-base: 195 217 250;
  --interactive-subtle-primary-toggled-disabled-base: 221 233 252;
  --input-outlined-outline-idle-base: 192 198 205;
  --input-outlined-outline-hover-base: 71 127 234;
  --input-outlined-outline-active-base: 43 81 212;
  --input-outlined-outline-error-base: 232 94 75;
  --input-outlined-outline-disabled-base: 218 221 226;
  --input-filled-outline-error-base: 232 94 75;
  --input-filled-outline-hover-base: 37 41 48;
  --input-filled-outline-active-base: 43 81 212;
  --support-overlay-base: #00000066;
  --interactive-contained-primary-on-toggled-disabled-base: 162 169 180;
  --interactive-contained-primary-on-toggled-idle-base: 255 255 255;
  --interactive-contained-primary-toggled-disabled-base: 40 64 165;
  --interactive-contained-primary-toggled-idle-base: 40 64 165;
  --interactive-contained-secondary-on-toggled-disabled-base: 192 198 205;
  --interactive-contained-secondary-on-toggled-idle-base: 255 255 255;
  --interactive-contained-secondary-toggled-disabled-base: 107 115 126;
  --interactive-contained-secondary-toggled-idle-base: 107 115 126;
  --interactive-contained-success-on-toggled-disabled-base: 192 198 205;
  --interactive-contained-success-on-toggled-idle-base: 255 255 255;
  --interactive-contained-success-toggled-disabled-base: 21 128 60;
  --interactive-contained-success-toggled-idle-base: 21 128 60;
  --interactive-contained-warning-on-toggled-idle-base: 255 255 255;
  --interactive-contained-warning-toggled-disabled-base: 217 119 6;
  --interactive-contained-warning-on-toggled-disabled-base: 218 221 226;
  --interactive-contained-warning-toggled-idle-base: 217 119 6;
  --interactive-contained-error-toggled-disabled-base: 179 51 34;
  --interactive-contained-error-on-toggled-disabled-base: 162 169 180;
  --interactive-contained-error-on-toggled-idle-base: 255 255 255;
  --interactive-contained-error-toggled-idle-base: 179 51 34;
  --interactive-subtle-success-toggled-disabled-base: 187 247 209;
  --interactive-subtle-success-on-toggled-disabled-base: 162 169 180;
  --interactive-subtle-success-on-toggled-idle-base: 20 83 43;
  --interactive-subtle-success-toggled-idle-base: 187 247 209;
  --interactive-subtle-warning-on-toggled-idle-base: 146 85 14;
  --interactive-subtle-warning-toggled-disabled-base: 254 228 199;
  --interactive-subtle-warning-toggled-idle-base: 254 228 199;
  --interactive-subtle-warning-on-toggled-disabled-base: 135 143 155;
  --interactive-subtle-error-toggled-idle-base: 250 204 197;
  --interactive-subtle-error-on-toggled-disabled-base: 135 143 155;
  --interactive-subtle-error-toggled-disabled-base: 250 204 197;
  --interactive-subtle-error-on-toggled-idle-base: 148 46 32;
  --interactive-contained-primary-toggled-hovered-base: 37 58 131;
  --interactive-contained-primary-on-toggled-hovered-base: 246 247 248;
  --interactive-contained-secondary-toggled-hovered-base: 83 89 99;
  --interactive-contained-secondary-on-toggled-hovered-base: 246 247 248;
  --interactive-contained-success-toggled-hovered-base: 22 101 51;
  --interactive-contained-success-on-toggled-hovered-base: 246 247 248;
  --interactive-subtle-success-toggled-hovered-base: 74 222 129;
  --interactive-subtle-success-on-toggled-hovered-base: 5 46 20;
  --interactive-contained-warning-toggled-hovered-base: 180 101 9;
  --interactive-contained-warning-on-toggled-hovered-base: 246 247 248;
  --interactive-subtle-warning-toggled-hovered-base: 252 171 77;
  --interactive-subtle-warning-on-toggled-hovered-base: 69 38 3;
  --interactive-contained-error-toggled-hovered-base: 148 46 32;
  --interactive-contained-error-on-toggled-hovered-base: 246 247 248;
  --interactive-subtle-error-on-toggled-hovered-base: 67 19 12;
  --interactive-subtle-error-toggled-hovered-base: 242 134 119;
  --interactive-text-primary-on-toggled-idle-base: 37 58 131;
  --interactive-text-primary-on-toggled-hovered-base: 40 64 165;
  --interactive-text-primary-on-toggled-disabled-base: 107 115 126;
  --interactive-text-secondary-on-toggled-disabled-base: 107 115 126;
  --interactive-text-secondary-on-toggled-hovered-base: 24 28 35;
  --interactive-text-secondary-on-toggled-idle-base: 14 17 22;
  --interactive-text-success-on-toggled-hovered-base: 24 28 35;
  --interactive-text-success-on-toggled-disabled-base: 107 115 126;
  --interactive-text-success-on-toggled-idle-base: 14 17 22;
}

.dark {
  --elevation-fill-default-1-base: 14 17 22;
  --elevation-fill-default-2-base: 19 23 29;
  --elevation-outline-default-1-base: 37 41 48;
  --elevation-outline-default-2-base: 83 89 99;
  --interactive-contained-primary-on-idle-base: 255 255 255;
  --interactive-contained-primary-idle-base: 50 98 222;
  --interactive-contained-primary-hover-base: 106 161 240;
  --interactive-contained-primary-disabled-base: 37 58 131;
  --interactive-contained-primary-focus-base: 106 161 240;
  --interactive-contained-secondary-on-idle-base: 255 255 255;
  --interactive-contained-secondary-idle-base: 24 28 35;
  --interactive-contained-secondary-hover-base: 37 41 48;
  --interactive-contained-secondary-disabled-base: 37 41 48;
  --interactive-contained-secondary-focus-base: 162 169 180;
  --interactive-outlined-primary-on-idle-base: 71 127 234;
  --interactive-outlined-primary-outline-idle-base: 71 127 234;
  --interactive-outlined-primary-outline-hover-base: 106 161 240;
  --interactive-outlined-primary-outline-disabled-base: 27 37 80;
  --interactive-outlined-primary-focus-base: 106 161 240;
  --text-default-1-base: 237 238 241;
  --text-default-2-base: 218 221 226;
  --text-inverted-1-base: 24 28 35;
  --text-inverted-2-base: 83 89 99;
  --text-default-3-base: 135 143 155;
  --text-inverted-3-base: 135 143 155;
  --interactive-contained-primary-pressed-base: 154 194 246;
  --interactive-contained-secondary-pressed-base: 83 89 99;
  --interactive-outlined-primary-outline-pressed-base: 154 194 246;
  --elevation-fill-default-3-base: 24 28 35;
  --input-outlined-idle-base: 19 23 29;
  --input-outlined-active-base: 14 17 22;
  --input-filled-idle-base: 24 28 35;
  --input-filled-active-base: 14 17 22;
  --input-outlined-hover-base: 14 17 22;
  --input-outlined-error-base: 14 17 22;
  --input-outlined-disabled-base: 14 17 22;
  --input-filled-hover-base: 24 28 35;
  --input-filled-error-base: 24 28 35;
  --input-filled-disabled-base: 24 28 35;
  --interactive-contained-success-on-idle-base: 255 255 255;
  --interactive-contained-success-idle-base: 21 128 60;
  --interactive-contained-success-hover-base: 22 163 74;
  --interactive-contained-success-pressed-base: 34 197 94;
  --interactive-contained-success-disabled-base: 21 128 60;
  --interactive-contained-success-focus-base: 22 163 74;
  --interactive-contained-warning-on-idle-base: 255 255 255;
  --interactive-contained-warning-idle-base: 217 119 6;
  --interactive-contained-warning-hover-base: 245 136 11;
  --interactive-contained-warning-pressed-base: 251 151 36;
  --interactive-contained-warning-disabled-base: 180 101 9;
  --interactive-contained-warning-focus-base: 251 151 36;
  --interactive-contained-error-on-idle-base: 255 255 255;
  --interactive-contained-error-idle-base: 212 63 43;
  --interactive-contained-error-hover-base: 232 94 75;
  --interactive-contained-error-pressed-base: 242 134 119;
  --interactive-contained-error-disabled-base: 179 51 34;
  --interactive-contained-error-focus-base: 242 134 119;
  --interactive-outlined-secondary-on-idle-base: 218 221 226;
  --interactive-outlined-secondary-outline-idle-base: 83 89 99;
  --interactive-outlined-secondary-outline-hover-base: 135 143 155;
  --interactive-outlined-secondary-outline-pressed-base: 162 169 180;
  --interactive-outlined-secondary-outline-disabled-base: 24 28 35;
  --interactive-outlined-secondary-focus-base: 162 169 180;
  --interactive-outlined-success-on-idle-base: 34 197 94;
  --interactive-outlined-success-outline-idle-base: 22 101 51;
  --interactive-outlined-success-outline-hover-base: 74 222 129;
  --interactive-outlined-success-outline-pressed-base: 134 239 173;
  --interactive-outlined-success-outline-disabled-base: 5 46 20;
  --interactive-outlined-success-focus-base: 22 163 74;
  --interactive-outlined-warning-on-idle-base: 252 171 77;
  --interactive-outlined-warning-outline-idle-base: 252 171 77;
  --interactive-outlined-warning-outline-hover-base: 253 200 138;
  --interactive-outlined-warning-outline-pressed-base: 254 228 199;
  --interactive-outlined-warning-outline-disabled-base: 120 71 15;
  --interactive-outlined-warning-focus-base: 251 151 36;
  --interactive-outlined-error-on-idle-base: 232 94 75;
  --interactive-outlined-error-outline-idle-base: 232 94 75;
  --interactive-outlined-error-outline-hover-base: 242 134 119;
  --interactive-outlined-error-outline-pressed-base: 248 178 169;
  --interactive-outlined-error-outline-disabled-base: 123 44 33;
  --interactive-outlined-error-focus-base: 242 134 119;
  --interactive-subtle-primary-on-idle-base: 154 194 246;
  --interactive-subtle-primary-idle-base: 27 37 80;
  --interactive-subtle-primary-hover-base: 37 58 131;
  --interactive-subtle-primary-pressed-base: 40 64 165;
  --interactive-subtle-primary-disabled-base: 27 37 80;
  --interactive-subtle-primary-focus-base: 106 161 240;
  --interactive-subtle-secondary-on-idle-base: 237 238 241;
  --interactive-subtle-secondary-idle-base: 19 23 29;
  --interactive-subtle-secondary-hover-base: 37 41 48;
  --interactive-subtle-secondary-pressed-base: 107 115 126;
  --interactive-subtle-secondary-disabled-base: 19 23 29;
  --interactive-subtle-secondary-focus-base: 162 169 180;
  --interactive-subtle-success-on-idle-base: 134 239 173;
  --interactive-subtle-success-idle-base: 5 46 20;
  --interactive-subtle-success-hover-base: 20 83 43;
  --interactive-subtle-success-pressed-base: 22 101 51;
  --interactive-subtle-success-disabled-base: 5 46 20;
  --interactive-subtle-success-focus-base: 22 163 74;
  --interactive-subtle-warning-on-idle-base: 252 171 77;
  --interactive-subtle-warning-idle-base: 69 38 3;
  --interactive-subtle-warning-hover-base: 120 71 15;
  --interactive-subtle-warning-pressed-base: 180 101 9;
  --interactive-subtle-warning-disabled-base: 69 38 3;
  --interactive-subtle-warning-focus-base: 251 151 36;
  --interactive-subtle-error-on-idle-base: 248 178 169;
  --interactive-subtle-error-idle-base: 67 19 12;
  --interactive-subtle-error-hover-base: 123 44 33;
  --interactive-subtle-error-pressed-base: 179 51 34;
  --interactive-subtle-error-disabled-base: 67 19 12;
  --interactive-subtle-error-focus-base: 242 134 119;
  --interactive-subtle-primary-on-disabled-base: 40 64 165;
  --interactive-subtle-secondary-on-disabled-base: 37 41 48;
  --interactive-subtle-success-on-disabled-base: 20 83 43;
  --interactive-subtle-warning-on-disabled-base: 120 71 15;
  --interactive-subtle-error-on-disabled-base: 123 44 33;
  --text-success-1-base: 134 239 173;
  --text-warning-1-base: 253 200 138;
  --text-error-1-base: 232 94 75;
  --interactive-text-primary-idle-base: 71 127 234;
  --interactive-text-primary-hover-base: 106 161 240;
  --interactive-text-primary-pressed-base: 154 194 246;
  --interactive-text-primary-disabled-base: 37 58 131;
  --interactive-text-primary-idle-inverted-base: 246 247 248;
  --interactive-text-primary-hover-inverted-base: 71 127 234;
  --interactive-text-primary-pressed-inverted-base: 106 161 240;
  --interactive-text-secondary-idle-base: 237 238 241;
  --interactive-text-secondary-hover-base: 218 221 226;
  --interactive-text-secondary-pressed-base: 162 169 180;
  --interactive-text-secondary-disabled-base: 37 41 48;
  --interactive-text-secondary-idle-inverted-base: 246 247 248;
  --interactive-text-secondary-hover-inverted-base: 218 221 226;
  --interactive-text-secondary-pressed-inverted-base: 192 198 205;
  --interactive-text-success-idle-base: 34 197 94;
  --interactive-text-success-hover-base: 34 197 94;
  --interactive-text-success-pressed-base: 74 222 129;
  --interactive-text-success-disabled-base: 20 83 43;
  --interactive-text-success-idle-inverted-base: 240 253 245;
  --interactive-text-success-hover-inverted-base: 187 247 209;
  --interactive-text-success-pressed-inverted-base: 74 222 129;
  --interactive-text-warning-idle-base: 252 171 77;
  --interactive-text-warning-hover-base: 245 136 11;
  --interactive-text-warning-pressed-base: 251 151 36;
  --interactive-text-warning-disabled-base: 120 71 15;
  --interactive-text-warning-idle-inverted-base: 255 246 235;
  --interactive-text-warning-hover-inverted-base: 253 200 138;
  --interactive-text-warning-pressed-inverted-base: 252 171 77;
  --interactive-text-error-idle-base: 242 134 119;
  --interactive-text-error-hover-base: 248 178 169;
  --interactive-text-error-pressed-base: 250 204 197;
  --interactive-text-error-disabled-base: 123 44 33;
  --interactive-text-error-idle-inverted-base: 254 243 242;
  --interactive-text-error-hover-inverted-base: 250 204 197;
  --interactive-text-error-pressed-inverted-base: 248 178 169;
  --support-default-base: 0 0 0;
  --support-inverted-base: 255 255 255;
  --interactive-outlined-primary-hover-base: 240 245 254;
  --interactive-outlined-secondary-hover-base: 246 247 248;
  --interactive-outlined-success-hover-base: 240 253 245;
  --interactive-outlined-warning-hover-base: 255 246 235;
  --interactive-outlined-error-hover-base: 254 243 242;
  --elevation-outline-default-3-base: 135 143 155;
  --elevation-outline-inverted-1-base: 218 221 226;
  --elevation-outline-inverted-2-base: 192 198 205;
  --elevation-outline-inverted-3-base: 162 169 180;
  --elevation-outline-success-1-base: 134 239 173;
  --elevation-outline-warning-1-base: 253 200 138;
  --elevation-outline-error-1-base: 242 134 119;
  --elevation-fill-inverted-1-base: 246 247 248;
  --elevation-fill-inverted-2-base: 218 221 226;
  --elevation-fill-inverted-3-base: 192 198 205;
  --elevation-fill-success-1-base: 74 222 129;
  --elevation-fill-warning-1-base: 252 171 77;
  --elevation-fill-error-1-base: 232 94 75;
  --text-success-2-base: 22 163 74;
  --text-warning-2-base: 252 171 77;
  --text-error-2-base: 242 134 119;
  --text-success-3-base: 21 128 60;
  --text-warning-3-base: 251 151 36;
  --text-error-3-base: 248 178 169;
  --interactive-contained-primary-on-hover-base: 255 255 255;
  --interactive-contained-primary-on-pressed-base: 255 255 255;
  --interactive-contained-primary-on-disabled-base: 27 37 80;
  --interactive-contained-secondary-on-hover-base: 255 255 255;
  --interactive-contained-secondary-on-pressed-base: 255 255 255;
  --interactive-contained-secondary-on-disabled-base: 107 115 126;
  --interactive-contained-success-on-hover-base: 255 255 255;
  --interactive-contained-success-on-pressed-base: 255 255 255;
  --interactive-contained-success-on-disabled-base: 20 83 43;
  --interactive-contained-warning-on-hover-base: 255 255 255;
  --interactive-contained-warning-on-pressed-base: 255 255 255;
  --interactive-contained-warning-on-disabled-base: 120 71 15;
  --interactive-contained-error-on-hover-base: 255 255 255;
  --interactive-contained-error-on-pressed-base: 255 255 255;
  --interactive-contained-error-on-disabled-base: 123 44 33;
  --interactive-outlined-primary-on-hover-base: 106 161 240;
  --interactive-outlined-primary-on-pressed-base: 154 194 246;
  --interactive-outlined-primary-on-disabled-base: 37 58 131;
  --interactive-outlined-secondary-on-hover-base: 237 238 241;
  --interactive-outlined-secondary-on-pressed-base: 246 247 248;
  --interactive-outlined-secondary-on-disabled-base: 37 41 48;
  --interactive-outlined-success-on-hover-base: 74 222 129;
  --interactive-outlined-success-on-pressed-base: 134 239 173;
  --interactive-outlined-success-on-disabled-base: 20 83 43;
  --interactive-outlined-warning-on-hover-base: 253 200 138;
  --interactive-outlined-warning-on-pressed-base: 254 228 199;
  --interactive-outlined-warning-on-disabled-base: 120 71 15;
  --interactive-outlined-error-on-hover-base: 242 134 119;
  --interactive-outlined-error-on-pressed-base: 248 178 169;
  --interactive-outlined-error-on-disabled-base: 123 44 33;
  --interactive-subtle-primary-toggled-idle-base: 27 37 80;
  --interactive-subtle-primary-on-hover-base: 154 194 246;
  --interactive-subtle-primary-on-pressed-base: 154 194 246;
  --interactive-subtle-primary-on-toggled-idle-base: 195 217 250;
  --interactive-subtle-secondary-toggled-idle-base: 24 28 35;
  --interactive-subtle-secondary-on-hover-base: 237 238 241;
  --interactive-subtle-secondary-on-pressed-base: 237 238 241;
  --interactive-subtle-secondary-on-toggled-idle-base: 237 238 241;
  --interactive-subtle-success-on-hover-base: 134 239 173;
  --interactive-subtle-success-on-pressed-base: 134 239 173;
  --interactive-subtle-warning-on-hover-base: 252 171 77;
  --interactive-subtle-warning-on-pressed-base: 252 171 77;
  --interactive-subtle-error-on-hover-base: 248 178 169;
  --interactive-subtle-error-on-pressed-base: 248 178 169;
  --interactive-outlined-primary-on-toggled-idle-base: 255 255 255;
  --interactive-outlined-primary-on-toggled-hover-base: 255 255 255;
  --interactive-outlined-primary-on-toggled-disabled-base: 27 37 80;
  --interactive-outlined-primary-toggled-idle-base: 40 64 165;
  --interactive-outlined-primary-toggled-hover-base: 71 127 234;
  --interactive-outlined-primary-toggled-disabled-base: 40 64 165;
  --interactive-outlined-primary-idle-base: #ffffff00;
  --interactive-outlined-primary-pressed-base: 240 245 254;
  --interactive-outlined-primary-disabled-base: #ffffff00;
  --interactive-outlined-secondary-idle-base: #ffffff00;
  --interactive-outlined-secondary-pressed-base: 246 247 248;
  --interactive-outlined-secondary-disabled-base: #ffffff00;
  --interactive-outlined-secondary-on-toggled-idle-base: 255 255 255;
  --interactive-outlined-secondary-on-toggled-hover-base: 255 255 255;
  --interactive-outlined-secondary-on-toggled-disabled-base: 255 255 255;
  --interactive-outlined-secondary-toggled-idle-base: 24 28 35;
  --interactive-outlined-secondary-toggled-hover-base: 135 143 155;
  --interactive-outlined-secondary-toggled-disabled-base: 162 169 180;
  --interactive-outlined-success-idle-base: #ffffff00;
  --interactive-outlined-success-pressed-base: 240 253 245;
  --interactive-outlined-success-disabled-base: #ffffff00;
  --interactive-outlined-warning-idle-base: #ffffff00;
  --interactive-outlined-warning-pressed-base: 255 246 235;
  --interactive-outlined-warning-disabled-base: #ffffff00;
  --interactive-outlined-error-pressed-base: 254 243 242;
  --interactive-outlined-error-idle-base: #ffffff00;
  --interactive-outlined-error-disabled-base: #ffffff00;
  --elevation-fill-inverted-4-base: 107 115 126;
  --interactive-text-primary-focus-base: 106 161 240;
  --interactive-text-secondary-focus-base: 162 169 180;
  --interactive-text-secondary-focus-inverted-base: 218 221 226;
  --interactive-text-primary-focus-inverted-base: 195 217 250;
  --interactive-text-success-focus-base: 22 163 74;
  --interactive-text-success-focus-inverted-base: 218 221 226;
  --interactive-text-warning-focus-base: 251 151 36;
  --interactive-text-warning-focus-inverted-base: 218 221 226;
  --interactive-text-error-focus-base: 242 134 119;
  --interactive-text-error-focus-inverted-base: 218 221 226;
  --interactive-subtle-secondary-on-toggled-hover-base: 246 247 248;
  --interactive-subtle-secondary-on-toggled-disabled-base: 37 41 48;
  --interactive-subtle-secondary-toggled-hover-base: 24 28 35;
  --interactive-subtle-secondary-toggled-disabled-base: 19 23 29;
  --interactive-text-primary-disabled-inverted-base: 135 143 155;
  --interactive-text-secondary-disabled-inverted-base: 135 143 155;
  --interactive-text-success-disabled-inverted-base: 21 128 60;
  --interactive-text-warning-disabled-inverted-base: 217 119 6;
  --interactive-text-error-disabled-inverted-base: 179 51 34;
  --interactive-subtle-primary-on-toggled-hover-base: 195 217 250;
  --interactive-subtle-primary-on-toggled-disabled-base: 40 64 165;
  --interactive-subtle-primary-toggled-hover-base: 37 58 131;
  --interactive-subtle-primary-toggled-disabled-base: 27 37 80;
  --input-outlined-outline-idle-base: 24 28 35;
  --input-outlined-outline-hover-base: 106 161 240;
  --input-outlined-outline-active-base: 50 98 222;
  --input-outlined-outline-error-base: 232 94 75;
  --input-outlined-outline-disabled-base: 83 89 99;
  --input-filled-outline-error-base: 232 94 75;
  --input-filled-outline-hover-base: 162 169 180;
  --input-filled-outline-active-base: 43 81 212;
  --support-overlay-base: #00000066;
  --interactive-contained-primary-on-toggled-disabled-base: 27 37 80;
  --interactive-contained-primary-on-toggled-idle-base: 255 255 255;
  --interactive-contained-primary-toggled-disabled-base: 40 64 165;
  --interactive-contained-primary-toggled-idle-base: 40 64 165;
  --interactive-contained-secondary-on-toggled-disabled-base: 83 89 99;
  --interactive-contained-secondary-on-toggled-idle-base: 255 255 255;
  --interactive-contained-secondary-toggled-disabled-base: 19 23 29;
  --interactive-contained-secondary-toggled-idle-base: 19 23 29;
  --interactive-contained-success-on-toggled-disabled-base: 20 83 43;
  --interactive-contained-success-on-toggled-idle-base: 255 255 255;
  --interactive-contained-success-toggled-disabled-base: 5 46 20;
  --interactive-contained-success-toggled-idle-base: 5 46 20;
  --interactive-contained-warning-on-toggled-idle-base: 255 255 255;
  --interactive-contained-warning-toggled-disabled-base: 120 71 15;
  --interactive-contained-warning-on-toggled-disabled-base: 69 38 3;
  --interactive-contained-warning-toggled-idle-base: 120 71 15;
  --interactive-contained-error-toggled-disabled-base: 148 46 32;
  --interactive-contained-error-on-toggled-disabled-base: 67 19 12;
  --interactive-contained-error-on-toggled-idle-base: 255 255 255;
  --interactive-contained-error-toggled-idle-base: 148 46 32;
  --interactive-subtle-success-toggled-disabled-base: 5 46 20;
  --interactive-subtle-success-on-toggled-disabled-base: 20 83 43;
  --interactive-subtle-success-on-toggled-idle-base: 134 239 173;
  --interactive-subtle-success-toggled-idle-base: 5 46 20;
  --interactive-subtle-warning-on-toggled-idle-base: 252 171 77;
  --interactive-subtle-warning-toggled-disabled-base: 69 38 3;
  --interactive-subtle-warning-toggled-idle-base: 69 38 3;
  --interactive-subtle-warning-on-toggled-disabled-base: 120 71 15;
  --interactive-subtle-error-toggled-idle-base: 67 19 12;
  --interactive-subtle-error-on-toggled-disabled-base: 123 44 33;
  --interactive-subtle-error-toggled-disabled-base: 67 19 12;
  --interactive-subtle-error-on-toggled-idle-base: 248 178 169;
  --interactive-contained-primary-toggled-hovered-base: 71 127 234;
  --interactive-contained-primary-on-toggled-hovered-base: 246 247 248;
  --interactive-contained-secondary-toggled-hovered-base: 24 28 35;
  --interactive-contained-secondary-on-toggled-hovered-base: 246 247 248;
  --interactive-contained-success-toggled-hovered-base: 22 101 51;
  --interactive-contained-success-on-toggled-hovered-base: 246 247 248;
  --interactive-subtle-success-toggled-hovered-base: 20 83 43;
  --interactive-subtle-success-on-toggled-hovered-base: 134 239 173;
  --interactive-contained-warning-toggled-hovered-base: 180 101 9;
  --interactive-contained-warning-on-toggled-hovered-base: 246 247 248;
  --interactive-subtle-warning-toggled-hovered-base: 120 71 15;
  --interactive-subtle-warning-on-toggled-hovered-base: 252 171 77;
  --interactive-contained-error-toggled-hovered-base: 179 51 34;
  --interactive-contained-error-on-toggled-hovered-base: 246 247 248;
  --interactive-subtle-error-on-toggled-hovered-base: 248 178 169;
  --interactive-subtle-error-toggled-hovered-base: 123 44 33;
  --interactive-text-primary-on-toggled-idle-base: 255 255 255;
  --interactive-text-primary-on-toggled-hovered-base: 255 255 255;
  --interactive-text-primary-on-toggled-disabled-base: 255 255 255;
  --interactive-text-secondary-on-toggled-disabled-base: 255 255 255;
  --interactive-text-secondary-on-toggled-hovered-base: 255 255 255;
  --interactive-text-secondary-on-toggled-idle-base: 255 255 255;
  --interactive-text-success-on-toggled-hovered-base: 255 255 255;
  --interactive-text-success-on-toggled-disabled-base: 255 255 255;
  --interactive-text-success-on-toggled-idle-base: 255 255 255;
}
