:root {
  --elevation-fill-default-1-base: #ffffff;
  --elevation-fill-default-2-base: #f6f7f8;
  --elevation-outline-default-1-base: #dadde2;
  --elevation-outline-default-2-base: #c0c6cd;
  --interactive-contained-primary-on-idle-base: #ffffff;
  --interactive-contained-primary-idle-base: #2b51d4;
  --interactive-contained-primary-hover-base: #477fea;
  --interactive-contained-primary-disabled-base: #9ac2f6;
  --interactive-contained-primary-focus-base: #6aa1f0;
  --interactive-contained-secondary-on-idle-base: #ffffff;
  --interactive-contained-secondary-idle-base: #252930;
  --interactive-contained-secondary-hover-base: #535963;
  --interactive-contained-secondary-disabled-base: #a2a9b4;
  --interactive-contained-secondary-focus-base: #181c23;
  --interactive-outlined-primary-on-idle-base: #2b51d4;
  --interactive-outlined-primary-outline-idle-base: #2b51d4;
  --interactive-outlined-primary-outline-hover-base: #477fea;
  --interactive-outlined-primary-outline-disabled-base: #a2a9b4;
  --interactive-outlined-primary-focus-base: #6aa1f0;
  --text-default-1-base: #181c23;
  --text-default-2-base: #535963;
  --text-inverted-1-base: #edeef1;
  --text-inverted-2-base: #dadde2;
  --text-default-3-base: #878f9b;
  --text-inverted-3-base: #c0c6cd;
  --interactive-contained-primary-pressed-base: #6aa1f0;
  --interactive-contained-secondary-pressed-base: #878f9b;
  --interactive-outlined-primary-outline-pressed-base: #6aa1f0;
  --elevation-fill-default-3-base: #edeef1;
  --input-outlined-idle-base: #ffffff;
  --input-outlined-active-base: #ffffff;
  --input-filled-idle-base: #edeef1;
  --input-filled-active-base: #ffffff;
  --input-outlined-hover-base: #ffffff;
  --input-outlined-error-base: #ffffff;
  --input-outlined-disabled-base: #ffffff;
  --input-filled-hover-base: #edeef1;
  --input-filled-error-base: #edeef1;
  --input-filled-disabled-base: #edeef1;
  --interactive-contained-success-on-idle-base: #ffffff;
  --interactive-contained-success-idle-base: #16a34a;
  --interactive-contained-success-hover-base: #22c55e;
  --interactive-contained-success-pressed-base: #4ade81;
  --interactive-contained-success-disabled-base: #86efad;
  --interactive-contained-success-focus-base: #181c23;
  --interactive-contained-warning-on-idle-base: #ffffff;
  --interactive-contained-warning-idle-base: #f5880b;
  --interactive-contained-warning-hover-base: #fb9724;
  --interactive-contained-warning-pressed-base: #fcab4d;
  --interactive-contained-warning-disabled-base: #fdc88a;
  --interactive-contained-warning-focus-base: #181c23;
  --interactive-contained-error-on-idle-base: #ffffff;
  --interactive-contained-error-idle-base: #d43f2b;
  --interactive-contained-error-hover-base: #e85e4b;
  --interactive-contained-error-pressed-base: #f28677;
  --interactive-contained-error-disabled-base: #f8b2a9;
  --interactive-contained-error-focus-base: #181c23;
  --interactive-outlined-secondary-on-idle-base: #535963;
  --interactive-outlined-secondary-outline-idle-base: #c0c6cd;
  --interactive-outlined-secondary-outline-hover-base: #252930;
  --interactive-outlined-secondary-outline-pressed-base: #181c23;
  --interactive-outlined-secondary-outline-disabled-base: #a2a9b4;
  --interactive-outlined-secondary-focus-base: #181c23;
  --interactive-outlined-success-on-idle-base: #16a34a;
  --interactive-outlined-success-outline-idle-base: #16a34a;
  --interactive-outlined-success-outline-hover-base: #22c55e;
  --interactive-outlined-success-outline-pressed-base: #4ade81;
  --interactive-outlined-success-outline-disabled-base: #a2a9b4;
  --interactive-outlined-success-focus-base: #181c23;
  --interactive-outlined-warning-on-idle-base: #f5880b;
  --interactive-outlined-warning-outline-idle-base: #f5880b;
  --interactive-outlined-warning-outline-hover-base: #fb9724;
  --interactive-outlined-warning-outline-pressed-base: #fcab4d;
  --interactive-outlined-warning-outline-disabled-base: #a2a9b4;
  --interactive-outlined-warning-focus-base: #181c23;
  --interactive-outlined-error-on-idle-base: #d43f2b;
  --interactive-outlined-error-outline-idle-base: #d43f2b;
  --interactive-outlined-error-outline-hover-base: #e85e4b;
  --interactive-outlined-error-outline-pressed-base: #f28677;
  --interactive-outlined-error-outline-disabled-base: #a2a9b4;
  --interactive-outlined-error-focus-base: #181c23;
  --interactive-subtle-primary-on-idle-base: #2840a5;
  --interactive-subtle-primary-idle-base: #f0f5fe;
  --interactive-subtle-primary-hover-base: #dde9fc;
  --interactive-subtle-primary-pressed-base: #c3d9fa;
  --interactive-subtle-primary-disabled-base: #f0f5fe;
  --interactive-subtle-primary-focus-base: #6aa1f0;
  --interactive-subtle-secondary-on-idle-base: #252930;
  --interactive-subtle-secondary-idle-base: #edeef1;
  --interactive-subtle-secondary-hover-base: #dadde2;
  --interactive-subtle-secondary-pressed-base: #c0c6cd;
  --interactive-subtle-secondary-disabled-base: #edeef1;
  --interactive-subtle-secondary-focus-base: #181c23;
  --interactive-subtle-success-on-idle-base: #166533;
  --interactive-subtle-success-idle-base: #dcfce8;
  --interactive-subtle-success-hover-base: #bbf7d1;
  --interactive-subtle-success-pressed-base: #86efad;
  --interactive-subtle-success-disabled-base: #dcfce8;
  --interactive-subtle-success-focus-base: #181c23;
  --interactive-subtle-warning-on-idle-base: #92550e;
  --interactive-subtle-warning-idle-base: #fee4c7;
  --interactive-subtle-warning-hover-base: #fdc88a;
  --interactive-subtle-warning-pressed-base: #fcab4d;
  --interactive-subtle-warning-disabled-base: #fee4c7;
  --interactive-subtle-warning-focus-base: #181c23;
  --interactive-subtle-error-on-idle-base: #942e20;
  --interactive-subtle-error-idle-base: #fde6e3;
  --interactive-subtle-error-hover-base: #faccc5;
  --interactive-subtle-error-pressed-base: #f8b2a9;
  --interactive-subtle-error-disabled-base: #fde6e3;
  --interactive-subtle-error-focus-base: #181c23;
  --interactive-subtle-primary-on-disabled-base: #9ac2f6;
  --interactive-subtle-secondary-on-disabled-base: #c0c6cd;
  --interactive-subtle-success-on-disabled-base: #4ade81;
  --interactive-subtle-warning-on-disabled-base: #fcab4d;
  --interactive-subtle-error-on-disabled-base: #f28677;
  --text-success-1-base: #16a34a;
  --text-warning-1-base: #f5880b;
  --text-error-1-base: #d43f2b;
  --interactive-text-primary-idle-base: #2b51d4;
  --interactive-text-primary-hover-base: #477fea;
  --interactive-text-primary-pressed-base: #6aa1f0;
  --interactive-text-primary-disabled-base: #878f9b;
  --interactive-text-primary-idle-inverted-base: #f0f5fe;
  --interactive-text-primary-hover-inverted-base: #9ac2f6;
  --interactive-text-primary-pressed-inverted-base: #477fea;
  --interactive-text-secondary-idle-base: #252930;
  --interactive-text-secondary-hover-base: #535963;
  --interactive-text-secondary-pressed-base: #878f9b;
  --interactive-text-secondary-disabled-base: #878f9b;
  --interactive-text-secondary-idle-inverted-base: #f6f7f8;
  --interactive-text-secondary-hover-inverted-base: #dadde2;
  --interactive-text-secondary-pressed-inverted-base: #c0c6cd;
  --interactive-text-success-idle-base: #16a34a;
  --interactive-text-success-hover-base: #22c55e;
  --interactive-text-success-pressed-base: #4ade81;
  --interactive-text-success-disabled-base: #878f9b;
  --interactive-text-success-idle-inverted-base: #f0fdf5;
  --interactive-text-success-hover-inverted-base: #bbf7d1;
  --interactive-text-success-pressed-inverted-base: #4ade81;
  --interactive-text-warning-idle-base: #d97706;
  --interactive-text-warning-hover-base: #f5880b;
  --interactive-text-warning-pressed-base: #fb9724;
  --interactive-text-warning-disabled-base: #878f9b;
  --interactive-text-warning-idle-inverted-base: #fff6eb;
  --interactive-text-warning-hover-inverted-base: #fdc88a;
  --interactive-text-warning-pressed-inverted-base: #fcab4d;
  --interactive-text-error-idle-base: #d43f2b;
  --interactive-text-error-hover-base: #e85e4b;
  --interactive-text-error-pressed-base: #f28677;
  --interactive-text-error-disabled-base: #878f9b;
  --interactive-text-error-idle-inverted-base: #fef3f2;
  --interactive-text-error-hover-inverted-base: #faccc5;
  --interactive-text-error-pressed-inverted-base: #f8b2a9;
  --support-default-base: #000000;
  --support-inverted-base: #ffffff;
  --interactive-outlined-primary-hover-base: #f0f5fe;
  --interactive-outlined-secondary-hover-base: #f6f7f8;
  --interactive-outlined-success-hover-base: #f0fdf5;
  --interactive-outlined-warning-hover-base: #fff6eb;
  --interactive-outlined-error-hover-base: #fef3f2;
  --elevation-outline-default-3-base: #a2a9b4;
  --elevation-outline-inverted-1-base: #252930;
  --elevation-outline-inverted-2-base: #535963;
  --elevation-outline-inverted-3-base: #6b737e;
  --elevation-outline-success-1-base: #4ade81;
  --elevation-outline-warning-1-base: #fcab4d;
  --elevation-outline-error-1-base: #e85e4b;
  --elevation-fill-inverted-1-base: #181c23;
  --elevation-fill-inverted-2-base: #252930;
  --elevation-fill-inverted-3-base: #535963;
  --elevation-fill-success-1-base: #16a34a;
  --elevation-fill-warning-1-base: #f5880b;
  --elevation-fill-error-1-base: #d43f2b;
  --text-success-2-base: #22c55e;
  --text-warning-2-base: #fb9724;
  --text-error-2-base: #e85e4b;
  --text-success-3-base: #4ade81;
  --text-warning-3-base: #fcab4d;
  --text-error-3-base: #f28677;
  --interactive-contained-primary-on-hover-base: #ffffff;
  --interactive-contained-primary-on-pressed-base: #ffffff;
  --interactive-contained-primary-on-disabled-base: #ffffff;
  --interactive-contained-secondary-on-hover-base: #ffffff;
  --interactive-contained-secondary-on-pressed-base: #ffffff;
  --interactive-contained-secondary-on-disabled-base: #ffffff;
  --interactive-contained-success-on-hover-base: #ffffff;
  --interactive-contained-success-on-pressed-base: #ffffff;
  --interactive-contained-success-on-disabled-base: #ffffff;
  --interactive-contained-warning-on-hover-base: #ffffff;
  --interactive-contained-warning-on-pressed-base: #ffffff;
  --interactive-contained-warning-on-disabled-base: #ffffff;
  --interactive-contained-error-on-hover-base: #ffffff;
  --interactive-contained-error-on-pressed-base: #ffffff;
  --interactive-contained-error-on-disabled-base: #ffffff;
  --interactive-outlined-primary-on-hover-base: #477fea;
  --interactive-outlined-primary-on-pressed-base: #6aa1f0;
  --interactive-outlined-primary-on-disabled-base: #a2a9b4;
  --interactive-outlined-secondary-on-hover-base: #252930;
  --interactive-outlined-secondary-on-pressed-base: #181c23;
  --interactive-outlined-secondary-on-disabled-base: #a2a9b4;
  --interactive-outlined-success-on-hover-base: #22c55e;
  --interactive-outlined-success-on-pressed-base: #4ade81;
  --interactive-outlined-success-on-disabled-base: #a2a9b4;
  --interactive-outlined-warning-on-hover-base: #fb9724;
  --interactive-outlined-warning-on-pressed-base: #fcab4d;
  --interactive-outlined-warning-on-disabled-base: #a2a9b4;
  --interactive-outlined-error-on-hover-base: #e85e4b;
  --interactive-outlined-error-on-pressed-base: #f28677;
  --interactive-outlined-error-on-disabled-base: #a2a9b4;
  --interactive-subtle-primary-toggled-idle-base: #dde9fc;
  --interactive-subtle-primary-on-hover-base: #2840a5;
  --interactive-subtle-primary-on-pressed-base: #2840a5;
  --interactive-subtle-primary-on-toggled-idle-base: #2b51d4;
  --interactive-subtle-secondary-toggled-idle-base: #dadde2;
  --interactive-subtle-secondary-on-hover-base: #252930;
  --interactive-subtle-secondary-on-pressed-base: #252930;
  --interactive-subtle-secondary-on-toggled-idle-base: #252930;
  --interactive-subtle-success-on-hover-base: #166533;
  --interactive-subtle-success-on-pressed-base: #166533;
  --interactive-subtle-warning-on-hover-base: #92550e;
  --interactive-subtle-warning-on-pressed-base: #92550e;
  --interactive-subtle-error-on-hover-base: #942e20;
  --interactive-subtle-error-on-pressed-base: #942e20;
  --interactive-outlined-primary-on-toggled-idle-base: #ffffff;
  --interactive-outlined-primary-on-toggled-hover-base: #ffffff;
  --interactive-outlined-primary-on-toggled-disabled-base: #ffffff;
  --interactive-outlined-primary-toggled-idle-base: #2b51d4;
  --interactive-outlined-primary-toggled-hover-base: #477fea;
  --interactive-outlined-primary-toggled-disabled-base: #a2a9b4;
  --interactive-outlined-primary-idle-base: #ffffff00;
  --interactive-outlined-primary-pressed-base: #f0f5fe;
  --interactive-outlined-primary-disabled-base: #ffffff00;
  --interactive-outlined-secondary-idle-base: #ffffff00;
  --interactive-outlined-secondary-pressed-base: #f6f7f8;
  --interactive-outlined-secondary-disabled-base: #ffffff00;
  --interactive-outlined-secondary-on-toggled-idle-base: #ffffff;
  --interactive-outlined-secondary-on-toggled-hover-base: #ffffff;
  --interactive-outlined-secondary-on-toggled-disabled-base: #ffffff;
  --interactive-outlined-secondary-toggled-idle-base: #181c23;
  --interactive-outlined-secondary-toggled-hover-base: #878f9b;
  --interactive-outlined-secondary-toggled-disabled-base: #a2a9b4;
  --interactive-outlined-success-idle-base: #ffffff00;
  --interactive-outlined-success-pressed-base: #f0fdf5;
  --interactive-outlined-success-disabled-base: #ffffff00;
  --interactive-outlined-warning-idle-base: #ffffff00;
  --interactive-outlined-warning-pressed-base: #fff6eb;
  --interactive-outlined-warning-disabled-base: #ffffff00;
  --interactive-outlined-error-pressed-base: #fef3f2;
  --interactive-outlined-error-idle-base: #ffffff00;
  --interactive-outlined-error-disabled-base: #ffffff00;
  --elevation-fill-inverted-4-base: #6b737e;
  --interactive-text-primary-focus-base: #6aa1f0;
  --interactive-text-secondary-focus-base: #181c23;
  --interactive-text-secondary-focus-inverted-base: #dadde2;
  --interactive-text-primary-focus-inverted-base: #c3d9fa;
  --interactive-text-success-focus-base: #181c23;
  --interactive-text-success-focus-inverted-base: #dadde2;
  --interactive-text-warning-focus-base: #181c23;
  --interactive-text-warning-focus-inverted-base: #dadde2;
  --interactive-text-error-focus-base: #181c23;
  --interactive-text-error-focus-inverted-base: #dadde2;
  --interactive-subtle-secondary-on-toggled-hover-base: #252930;
  --interactive-subtle-secondary-on-toggled-disabled-base: #a2a9b4;
  --interactive-subtle-secondary-toggled-hover-base: #878f9b;
  --interactive-subtle-secondary-toggled-disabled-base: #edeef1;
  --interactive-text-primary-disabled-inverted-base: #878f9b;
  --interactive-text-secondary-disabled-inverted-base: #878f9b;
  --interactive-text-success-disabled-inverted-base: #15803c;
  --interactive-text-warning-disabled-inverted-base: #d97706;
  --interactive-text-error-disabled-inverted-base: #b33322;
  --interactive-subtle-primary-on-toggled-hover-base: #2840a5;
  --interactive-subtle-primary-on-toggled-disabled-base: #a2a9b4;
  --interactive-subtle-primary-toggled-hover-base: #c3d9fa;
  --interactive-subtle-primary-toggled-disabled-base: #dde9fc;
  --input-outlined-outline-idle-base: #c0c6cd;
  --input-outlined-outline-hover-base: #477fea;
  --input-outlined-outline-active-base: #2b51d4;
  --input-outlined-outline-error-base: #e85e4b;
  --input-outlined-outline-disabled-base: #dadde2;
  --input-filled-outline-error-base: #e85e4b;
  --input-filled-outline-hover-base: #252930;
  --input-filled-outline-active-base: #2b51d4;
  --support-overlay-base: #00000066;
  --interactive-contained-primary-on-toggled-disabled-base: #a2a9b4;
  --interactive-contained-primary-on-toggled-idle-base: #ffffff;
  --interactive-contained-primary-toggled-disabled-base: #2840a5;
  --interactive-contained-primary-toggled-idle-base: #2840a5;
  --interactive-contained-secondary-on-toggled-disabled-base: #c0c6cd;
  --interactive-contained-secondary-on-toggled-idle-base: #ffffff;
  --interactive-contained-secondary-toggled-disabled-base: #6b737e;
  --interactive-contained-secondary-toggled-idle-base: #6b737e;
  --interactive-contained-success-on-toggled-disabled-base: #c0c6cd;
  --interactive-contained-success-on-toggled-idle-base: #ffffff;
  --interactive-contained-success-toggled-disabled-base: #15803c;
  --interactive-contained-success-toggled-idle-base: #15803c;
  --interactive-contained-warning-on-toggled-idle-base: #ffffff;
  --interactive-contained-warning-toggled-disabled-base: #d97706;
  --interactive-contained-warning-on-toggled-disabled-base: #dadde2;
  --interactive-contained-warning-toggled-idle-base: #d97706;
  --interactive-contained-error-toggled-disabled-base: #b33322;
  --interactive-contained-error-on-toggled-disabled-base: #a2a9b4;
  --interactive-contained-error-on-toggled-idle-base: #ffffff;
  --interactive-contained-error-toggled-idle-base: #b33322;
  --interactive-subtle-success-toggled-disabled-base: #bbf7d1;
  --interactive-subtle-success-on-toggled-disabled-base: #a2a9b4;
  --interactive-subtle-success-on-toggled-idle-base: #14532b;
  --interactive-subtle-success-toggled-idle-base: #bbf7d1;
  --interactive-subtle-warning-on-toggled-idle-base: #92550e;
  --interactive-subtle-warning-toggled-disabled-base: #fee4c7;
  --interactive-subtle-warning-toggled-idle-base: #fee4c7;
  --interactive-subtle-warning-on-toggled-disabled-base: #878f9b;
  --interactive-subtle-error-toggled-idle-base: #faccc5;
  --interactive-subtle-error-on-toggled-disabled-base: #878f9b;
  --interactive-subtle-error-toggled-disabled-base: #faccc5;
  --interactive-subtle-error-on-toggled-idle-base: #942e20;
  --interactive-contained-primary-toggled-hovered-base: #253a83;
  --interactive-contained-primary-on-toggled-hovered-base: #f6f7f8;
  --interactive-contained-secondary-toggled-hovered-base: #535963;
  --interactive-contained-secondary-on-toggled-hovered-base: #f6f7f8;
  --interactive-contained-success-toggled-hovered-base: #166533;
  --interactive-contained-success-on-toggled-hovered-base: #f6f7f8;
  --interactive-subtle-success-toggled-hovered-base: #4ade81;
  --interactive-subtle-success-on-toggled-hovered-base: #052e14;
  --interactive-contained-warning-toggled-hovered-base: #b46509;
  --interactive-contained-warning-on-toggled-hovered-base: #f6f7f8;
  --interactive-subtle-warning-toggled-hovered-base: #fcab4d;
  --interactive-subtle-warning-on-toggled-hovered-base: #452603;
  --interactive-contained-error-toggled-hovered-base: #942e20;
  --interactive-contained-error-on-toggled-hovered-base: #f6f7f8;
  --interactive-subtle-error-on-toggled-hovered-base: #43130c;
  --interactive-subtle-error-toggled-hovered-base: #f28677;
  --interactive-text-primary-on-toggled-idle-base: #253a83;
  --interactive-text-primary-on-toggled-hovered-base: #2840a5;
  --interactive-text-primary-on-toggled-disabled-base: #6b737e;
  --interactive-text-secondary-on-toggled-disabled-base: #6b737e;
  --interactive-text-secondary-on-toggled-hovered-base: #181c23;
  --interactive-text-secondary-on-toggled-idle-base: #0e1116;
  --interactive-text-success-on-toggled-hovered-base: #181c23;
  --interactive-text-success-on-toggled-disabled-base: #6b737e;
  --interactive-text-success-on-toggled-idle-base: #0e1116;
}

.dark {
  --elevation-fill-default-1-base: #0e1116;
  --elevation-fill-default-2-base: #13171d;
  --elevation-outline-default-1-base: #252930;
  --elevation-outline-default-2-base: #535963;
  --interactive-contained-primary-on-idle-base: #ffffff;
  --interactive-contained-primary-idle-base: #3262de;
  --interactive-contained-primary-hover-base: #6aa1f0;
  --interactive-contained-primary-disabled-base: #253a83;
  --interactive-contained-primary-focus-base: #6aa1f0;
  --interactive-contained-secondary-on-idle-base: #ffffff;
  --interactive-contained-secondary-idle-base: #181c23;
  --interactive-contained-secondary-hover-base: #252930;
  --interactive-contained-secondary-disabled-base: #252930;
  --interactive-contained-secondary-focus-base: #a2a9b4;
  --interactive-outlined-primary-on-idle-base: #477fea;
  --interactive-outlined-primary-outline-idle-base: #477fea;
  --interactive-outlined-primary-outline-hover-base: #6aa1f0;
  --interactive-outlined-primary-outline-disabled-base: #1b2550;
  --interactive-outlined-primary-focus-base: #6aa1f0;
  --text-default-1-base: #edeef1;
  --text-default-2-base: #dadde2;
  --text-inverted-1-base: #181c23;
  --text-inverted-2-base: #535963;
  --text-default-3-base: #878f9b;
  --text-inverted-3-base: #878f9b;
  --interactive-contained-primary-pressed-base: #9ac2f6;
  --interactive-contained-secondary-pressed-base: #535963;
  --interactive-outlined-primary-outline-pressed-base: #9ac2f6;
  --elevation-fill-default-3-base: #181c23;
  --input-outlined-idle-base: #13171d;
  --input-outlined-active-base: #0e1116;
  --input-filled-idle-base: #181c23;
  --input-filled-active-base: #0e1116;
  --input-outlined-hover-base: #0e1116;
  --input-outlined-error-base: #0e1116;
  --input-outlined-disabled-base: #0e1116;
  --input-filled-hover-base: #181c23;
  --input-filled-error-base: #181c23;
  --input-filled-disabled-base: #181c23;
  --interactive-contained-success-on-idle-base: #ffffff;
  --interactive-contained-success-idle-base: #15803c;
  --interactive-contained-success-hover-base: #16a34a;
  --interactive-contained-success-pressed-base: #22c55e;
  --interactive-contained-success-disabled-base: #15803c;
  --interactive-contained-success-focus-base: #16a34a;
  --interactive-contained-warning-on-idle-base: #ffffff;
  --interactive-contained-warning-idle-base: #d97706;
  --interactive-contained-warning-hover-base: #f5880b;
  --interactive-contained-warning-pressed-base: #fb9724;
  --interactive-contained-warning-disabled-base: #b46509;
  --interactive-contained-warning-focus-base: #fb9724;
  --interactive-contained-error-on-idle-base: #ffffff;
  --interactive-contained-error-idle-base: #d43f2b;
  --interactive-contained-error-hover-base: #e85e4b;
  --interactive-contained-error-pressed-base: #f28677;
  --interactive-contained-error-disabled-base: #b33322;
  --interactive-contained-error-focus-base: #f28677;
  --interactive-outlined-secondary-on-idle-base: #dadde2;
  --interactive-outlined-secondary-outline-idle-base: #535963;
  --interactive-outlined-secondary-outline-hover-base: #878f9b;
  --interactive-outlined-secondary-outline-pressed-base: #a2a9b4;
  --interactive-outlined-secondary-outline-disabled-base: #181c23;
  --interactive-outlined-secondary-focus-base: #a2a9b4;
  --interactive-outlined-success-on-idle-base: #22c55e;
  --interactive-outlined-success-outline-idle-base: #166533;
  --interactive-outlined-success-outline-hover-base: #4ade81;
  --interactive-outlined-success-outline-pressed-base: #86efad;
  --interactive-outlined-success-outline-disabled-base: #052e14;
  --interactive-outlined-success-focus-base: #16a34a;
  --interactive-outlined-warning-on-idle-base: #fcab4d;
  --interactive-outlined-warning-outline-idle-base: #fcab4d;
  --interactive-outlined-warning-outline-hover-base: #fdc88a;
  --interactive-outlined-warning-outline-pressed-base: #fee4c7;
  --interactive-outlined-warning-outline-disabled-base: #78470f;
  --interactive-outlined-warning-focus-base: #fb9724;
  --interactive-outlined-error-on-idle-base: #e85e4b;
  --interactive-outlined-error-outline-idle-base: #e85e4b;
  --interactive-outlined-error-outline-hover-base: #f28677;
  --interactive-outlined-error-outline-pressed-base: #f8b2a9;
  --interactive-outlined-error-outline-disabled-base: #7b2c21;
  --interactive-outlined-error-focus-base: #f28677;
  --interactive-subtle-primary-on-idle-base: #9ac2f6;
  --interactive-subtle-primary-idle-base: #1b2550;
  --interactive-subtle-primary-hover-base: #253a83;
  --interactive-subtle-primary-pressed-base: #2840a5;
  --interactive-subtle-primary-disabled-base: #1b2550;
  --interactive-subtle-primary-focus-base: #6aa1f0;
  --interactive-subtle-secondary-on-idle-base: #edeef1;
  --interactive-subtle-secondary-idle-base: #13171d;
  --interactive-subtle-secondary-hover-base: #252930;
  --interactive-subtle-secondary-pressed-base: #6b737e;
  --interactive-subtle-secondary-disabled-base: #13171d;
  --interactive-subtle-secondary-focus-base: #a2a9b4;
  --interactive-subtle-success-on-idle-base: #86efad;
  --interactive-subtle-success-idle-base: #052e14;
  --interactive-subtle-success-hover-base: #14532b;
  --interactive-subtle-success-pressed-base: #166533;
  --interactive-subtle-success-disabled-base: #052e14;
  --interactive-subtle-success-focus-base: #16a34a;
  --interactive-subtle-warning-on-idle-base: #fcab4d;
  --interactive-subtle-warning-idle-base: #452603;
  --interactive-subtle-warning-hover-base: #78470f;
  --interactive-subtle-warning-pressed-base: #b46509;
  --interactive-subtle-warning-disabled-base: #452603;
  --interactive-subtle-warning-focus-base: #fb9724;
  --interactive-subtle-error-on-idle-base: #f8b2a9;
  --interactive-subtle-error-idle-base: #43130c;
  --interactive-subtle-error-hover-base: #7b2c21;
  --interactive-subtle-error-pressed-base: #b33322;
  --interactive-subtle-error-disabled-base: #43130c;
  --interactive-subtle-error-focus-base: #f28677;
  --interactive-subtle-primary-on-disabled-base: #2840a5;
  --interactive-subtle-secondary-on-disabled-base: #252930;
  --interactive-subtle-success-on-disabled-base: #14532b;
  --interactive-subtle-warning-on-disabled-base: #78470f;
  --interactive-subtle-error-on-disabled-base: #7b2c21;
  --text-success-1-base: #86efad;
  --text-warning-1-base: #fdc88a;
  --text-error-1-base: #e85e4b;
  --interactive-text-primary-idle-base: #477fea;
  --interactive-text-primary-hover-base: #6aa1f0;
  --interactive-text-primary-pressed-base: #9ac2f6;
  --interactive-text-primary-disabled-base: #253a83;
  --interactive-text-primary-idle-inverted-base: #f6f7f8;
  --interactive-text-primary-hover-inverted-base: #477fea;
  --interactive-text-primary-pressed-inverted-base: #6aa1f0;
  --interactive-text-secondary-idle-base: #edeef1;
  --interactive-text-secondary-hover-base: #dadde2;
  --interactive-text-secondary-pressed-base: #a2a9b4;
  --interactive-text-secondary-disabled-base: #252930;
  --interactive-text-secondary-idle-inverted-base: #f6f7f8;
  --interactive-text-secondary-hover-inverted-base: #dadde2;
  --interactive-text-secondary-pressed-inverted-base: #c0c6cd;
  --interactive-text-success-idle-base: #22c55e;
  --interactive-text-success-hover-base: #22c55e;
  --interactive-text-success-pressed-base: #4ade81;
  --interactive-text-success-disabled-base: #14532b;
  --interactive-text-success-idle-inverted-base: #f0fdf5;
  --interactive-text-success-hover-inverted-base: #bbf7d1;
  --interactive-text-success-pressed-inverted-base: #4ade81;
  --interactive-text-warning-idle-base: #fcab4d;
  --interactive-text-warning-hover-base: #f5880b;
  --interactive-text-warning-pressed-base: #fb9724;
  --interactive-text-warning-disabled-base: #78470f;
  --interactive-text-warning-idle-inverted-base: #fff6eb;
  --interactive-text-warning-hover-inverted-base: #fdc88a;
  --interactive-text-warning-pressed-inverted-base: #fcab4d;
  --interactive-text-error-idle-base: #f28677;
  --interactive-text-error-hover-base: #f8b2a9;
  --interactive-text-error-pressed-base: #faccc5;
  --interactive-text-error-disabled-base: #7b2c21;
  --interactive-text-error-idle-inverted-base: #fef3f2;
  --interactive-text-error-hover-inverted-base: #faccc5;
  --interactive-text-error-pressed-inverted-base: #f8b2a9;
  --support-default-base: #000000;
  --support-inverted-base: #ffffff;
  --interactive-outlined-primary-hover-base: #f0f5fe;
  --interactive-outlined-secondary-hover-base: #f6f7f8;
  --interactive-outlined-success-hover-base: #f0fdf5;
  --interactive-outlined-warning-hover-base: #fff6eb;
  --interactive-outlined-error-hover-base: #fef3f2;
  --elevation-outline-default-3-base: #878f9b;
  --elevation-outline-inverted-1-base: #dadde2;
  --elevation-outline-inverted-2-base: #c0c6cd;
  --elevation-outline-inverted-3-base: #a2a9b4;
  --elevation-outline-success-1-base: #86efad;
  --elevation-outline-warning-1-base: #fdc88a;
  --elevation-outline-error-1-base: #f28677;
  --elevation-fill-inverted-1-base: #f6f7f8;
  --elevation-fill-inverted-2-base: #dadde2;
  --elevation-fill-inverted-3-base: #c0c6cd;
  --elevation-fill-success-1-base: #4ade81;
  --elevation-fill-warning-1-base: #fcab4d;
  --elevation-fill-error-1-base: #e85e4b;
  --text-success-2-base: #16a34a;
  --text-warning-2-base: #fcab4d;
  --text-error-2-base: #f28677;
  --text-success-3-base: #15803c;
  --text-warning-3-base: #fb9724;
  --text-error-3-base: #f8b2a9;
  --interactive-contained-primary-on-hover-base: #ffffff;
  --interactive-contained-primary-on-pressed-base: #ffffff;
  --interactive-contained-primary-on-disabled-base: #1b2550;
  --interactive-contained-secondary-on-hover-base: #ffffff;
  --interactive-contained-secondary-on-pressed-base: #ffffff;
  --interactive-contained-secondary-on-disabled-base: #6b737e;
  --interactive-contained-success-on-hover-base: #ffffff;
  --interactive-contained-success-on-pressed-base: #ffffff;
  --interactive-contained-success-on-disabled-base: #14532b;
  --interactive-contained-warning-on-hover-base: #ffffff;
  --interactive-contained-warning-on-pressed-base: #ffffff;
  --interactive-contained-warning-on-disabled-base: #78470f;
  --interactive-contained-error-on-hover-base: #ffffff;
  --interactive-contained-error-on-pressed-base: #ffffff;
  --interactive-contained-error-on-disabled-base: #7b2c21;
  --interactive-outlined-primary-on-hover-base: #6aa1f0;
  --interactive-outlined-primary-on-pressed-base: #9ac2f6;
  --interactive-outlined-primary-on-disabled-base: #253a83;
  --interactive-outlined-secondary-on-hover-base: #edeef1;
  --interactive-outlined-secondary-on-pressed-base: #f6f7f8;
  --interactive-outlined-secondary-on-disabled-base: #252930;
  --interactive-outlined-success-on-hover-base: #4ade81;
  --interactive-outlined-success-on-pressed-base: #86efad;
  --interactive-outlined-success-on-disabled-base: #14532b;
  --interactive-outlined-warning-on-hover-base: #fdc88a;
  --interactive-outlined-warning-on-pressed-base: #fee4c7;
  --interactive-outlined-warning-on-disabled-base: #78470f;
  --interactive-outlined-error-on-hover-base: #f28677;
  --interactive-outlined-error-on-pressed-base: #f8b2a9;
  --interactive-outlined-error-on-disabled-base: #7b2c21;
  --interactive-subtle-primary-toggled-idle-base: #1b2550;
  --interactive-subtle-primary-on-hover-base: #9ac2f6;
  --interactive-subtle-primary-on-pressed-base: #9ac2f6;
  --interactive-subtle-primary-on-toggled-idle-base: #c3d9fa;
  --interactive-subtle-secondary-toggled-idle-base: #181c23;
  --interactive-subtle-secondary-on-hover-base: #edeef1;
  --interactive-subtle-secondary-on-pressed-base: #edeef1;
  --interactive-subtle-secondary-on-toggled-idle-base: #edeef1;
  --interactive-subtle-success-on-hover-base: #86efad;
  --interactive-subtle-success-on-pressed-base: #86efad;
  --interactive-subtle-warning-on-hover-base: #fcab4d;
  --interactive-subtle-warning-on-pressed-base: #fcab4d;
  --interactive-subtle-error-on-hover-base: #f8b2a9;
  --interactive-subtle-error-on-pressed-base: #f8b2a9;
  --interactive-outlined-primary-on-toggled-idle-base: #ffffff;
  --interactive-outlined-primary-on-toggled-hover-base: #ffffff;
  --interactive-outlined-primary-on-toggled-disabled-base: #1b2550;
  --interactive-outlined-primary-toggled-idle-base: #2840a5;
  --interactive-outlined-primary-toggled-hover-base: #477fea;
  --interactive-outlined-primary-toggled-disabled-base: #2840a5;
  --interactive-outlined-primary-idle-base: #ffffff00;
  --interactive-outlined-primary-pressed-base: #f0f5fe;
  --interactive-outlined-primary-disabled-base: #ffffff00;
  --interactive-outlined-secondary-idle-base: #ffffff00;
  --interactive-outlined-secondary-pressed-base: #f6f7f8;
  --interactive-outlined-secondary-disabled-base: #ffffff00;
  --interactive-outlined-secondary-on-toggled-idle-base: #ffffff;
  --interactive-outlined-secondary-on-toggled-hover-base: #ffffff;
  --interactive-outlined-secondary-on-toggled-disabled-base: #ffffff;
  --interactive-outlined-secondary-toggled-idle-base: #181c23;
  --interactive-outlined-secondary-toggled-hover-base: #878f9b;
  --interactive-outlined-secondary-toggled-disabled-base: #a2a9b4;
  --interactive-outlined-success-idle-base: #ffffff00;
  --interactive-outlined-success-pressed-base: #f0fdf5;
  --interactive-outlined-success-disabled-base: #ffffff00;
  --interactive-outlined-warning-idle-base: #ffffff00;
  --interactive-outlined-warning-pressed-base: #fff6eb;
  --interactive-outlined-warning-disabled-base: #ffffff00;
  --interactive-outlined-error-pressed-base: #fef3f2;
  --interactive-outlined-error-idle-base: #ffffff00;
  --interactive-outlined-error-disabled-base: #ffffff00;
  --elevation-fill-inverted-4-base: #6b737e;
  --interactive-text-primary-focus-base: #6aa1f0;
  --interactive-text-secondary-focus-base: #a2a9b4;
  --interactive-text-secondary-focus-inverted-base: #dadde2;
  --interactive-text-primary-focus-inverted-base: #c3d9fa;
  --interactive-text-success-focus-base: #16a34a;
  --interactive-text-success-focus-inverted-base: #dadde2;
  --interactive-text-warning-focus-base: #fb9724;
  --interactive-text-warning-focus-inverted-base: #dadde2;
  --interactive-text-error-focus-base: #f28677;
  --interactive-text-error-focus-inverted-base: #dadde2;
  --interactive-subtle-secondary-on-toggled-hover-base: #f6f7f8;
  --interactive-subtle-secondary-on-toggled-disabled-base: #252930;
  --interactive-subtle-secondary-toggled-hover-base: #181c23;
  --interactive-subtle-secondary-toggled-disabled-base: #13171d;
  --interactive-text-primary-disabled-inverted-base: #878f9b;
  --interactive-text-secondary-disabled-inverted-base: #878f9b;
  --interactive-text-success-disabled-inverted-base: #15803c;
  --interactive-text-warning-disabled-inverted-base: #d97706;
  --interactive-text-error-disabled-inverted-base: #b33322;
  --interactive-subtle-primary-on-toggled-hover-base: #c3d9fa;
  --interactive-subtle-primary-on-toggled-disabled-base: #2840a5;
  --interactive-subtle-primary-toggled-hover-base: #253a83;
  --interactive-subtle-primary-toggled-disabled-base: #1b2550;
  --input-outlined-outline-idle-base: #181c23;
  --input-outlined-outline-hover-base: #6aa1f0;
  --input-outlined-outline-active-base: #3262de;
  --input-outlined-outline-error-base: #e85e4b;
  --input-outlined-outline-disabled-base: #535963;
  --input-filled-outline-error-base: #e85e4b;
  --input-filled-outline-hover-base: #a2a9b4;
  --input-filled-outline-active-base: #2b51d4;
  --support-overlay-base: #00000066;
  --interactive-contained-primary-on-toggled-disabled-base: #1b2550;
  --interactive-contained-primary-on-toggled-idle-base: #ffffff;
  --interactive-contained-primary-toggled-disabled-base: #2840a5;
  --interactive-contained-primary-toggled-idle-base: #2840a5;
  --interactive-contained-secondary-on-toggled-disabled-base: #535963;
  --interactive-contained-secondary-on-toggled-idle-base: #ffffff;
  --interactive-contained-secondary-toggled-disabled-base: #13171d;
  --interactive-contained-secondary-toggled-idle-base: #13171d;
  --interactive-contained-success-on-toggled-disabled-base: #14532b;
  --interactive-contained-success-on-toggled-idle-base: #ffffff;
  --interactive-contained-success-toggled-disabled-base: #052e14;
  --interactive-contained-success-toggled-idle-base: #052e14;
  --interactive-contained-warning-on-toggled-idle-base: #ffffff;
  --interactive-contained-warning-toggled-disabled-base: #78470f;
  --interactive-contained-warning-on-toggled-disabled-base: #452603;
  --interactive-contained-warning-toggled-idle-base: #78470f;
  --interactive-contained-error-toggled-disabled-base: #942e20;
  --interactive-contained-error-on-toggled-disabled-base: #43130c;
  --interactive-contained-error-on-toggled-idle-base: #ffffff;
  --interactive-contained-error-toggled-idle-base: #942e20;
  --interactive-subtle-success-toggled-disabled-base: #052e14;
  --interactive-subtle-success-on-toggled-disabled-base: #14532b;
  --interactive-subtle-success-on-toggled-idle-base: #86efad;
  --interactive-subtle-success-toggled-idle-base: #052e14;
  --interactive-subtle-warning-on-toggled-idle-base: #fcab4d;
  --interactive-subtle-warning-toggled-disabled-base: #452603;
  --interactive-subtle-warning-toggled-idle-base: #452603;
  --interactive-subtle-warning-on-toggled-disabled-base: #78470f;
  --interactive-subtle-error-toggled-idle-base: #43130c;
  --interactive-subtle-error-on-toggled-disabled-base: #7b2c21;
  --interactive-subtle-error-toggled-disabled-base: #43130c;
  --interactive-subtle-error-on-toggled-idle-base: #f8b2a9;
  --interactive-contained-primary-toggled-hovered-base: #477fea;
  --interactive-contained-primary-on-toggled-hovered-base: #f6f7f8;
  --interactive-contained-secondary-toggled-hovered-base: #181c23;
  --interactive-contained-secondary-on-toggled-hovered-base: #f6f7f8;
  --interactive-contained-success-toggled-hovered-base: #166533;
  --interactive-contained-success-on-toggled-hovered-base: #f6f7f8;
  --interactive-subtle-success-toggled-hovered-base: #14532b;
  --interactive-subtle-success-on-toggled-hovered-base: #86efad;
  --interactive-contained-warning-toggled-hovered-base: #b46509;
  --interactive-contained-warning-on-toggled-hovered-base: #f6f7f8;
  --interactive-subtle-warning-toggled-hovered-base: #78470f;
  --interactive-subtle-warning-on-toggled-hovered-base: #fcab4d;
  --interactive-contained-error-toggled-hovered-base: #b33322;
  --interactive-contained-error-on-toggled-hovered-base: #f6f7f8;
  --interactive-subtle-error-on-toggled-hovered-base: #f8b2a9;
  --interactive-subtle-error-toggled-hovered-base: #7b2c21;
  --interactive-text-primary-on-toggled-idle-base: #ffffff;
  --interactive-text-primary-on-toggled-hovered-base: #ffffff;
  --interactive-text-primary-on-toggled-disabled-base: #ffffff;
  --interactive-text-secondary-on-toggled-disabled-base: #ffffff;
  --interactive-text-secondary-on-toggled-hovered-base: #ffffff;
  --interactive-text-secondary-on-toggled-idle-base: #ffffff;
  --interactive-text-success-on-toggled-hovered-base: #ffffff;
  --interactive-text-success-on-toggled-disabled-base: #ffffff;
  --interactive-text-success-on-toggled-idle-base: #ffffff;
}
