@import "@fontsource-variable/inter";
@import "@fontsource-variable/geist";

@import "tailwindcss";
@import "./base.css";
@import "./theme.css";
@import "@povio/ui/styles";

@source "../../../../packages/ui/src";
@source "../../../../packages/auth/src";

/* width */
::-webkit-scrollbar {
  @apply w-1-5;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-elevation-outline-default-2 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-elevation-outline-default-2;
}
