@theme {
  --color-support-default: #000000;
  --color-support-inverted: #ffffff;
  --color-interactive-outlined-primary-idle: #ffffff00;
  --color-interactive-outlined-primary-disabled: #ffffff00;
  --color-interactive-outlined-secondary-idle: #ffffff00;
  --color-interactive-outlined-secondary-disabled: #ffffff00;
  --color-interactive-outlined-success-idle: #ffffff00;
  --color-interactive-outlined-success-disabled: #ffffff00;
  --color-interactive-outlined-warning-idle: #ffffff00;
  --color-interactive-outlined-warning-disabled: #ffffff00;
  --color-interactive-outlined-error-idle: #ffffff00;
  --color-interactive-outlined-error-disabled: #ffffff00;
  --color-support-overlay: #00000066;
  --color-elevation-fill-default-1: #ffffff;
  --color-elevation-fill-default-2: #f8f8f9;
  --color-elevation-outline-default-1: #d2d5db;
  --color-elevation-outline-default-2: #b8bdc6;
  --color-interactive-contained-primary-on-idle: #ffffff;
  --color-interactive-contained-primary-idle: #2b51d4;
  --color-interactive-contained-primary-hover: #477fea;
  --color-interactive-contained-primary-disabled: #9ac2f6;
  --color-interactive-contained-primary-focus: #6aa1f0;
  --color-interactive-contained-secondary-on-idle: #ffffff;
  --color-interactive-contained-secondary-idle: #40454f;
  --color-interactive-contained-secondary-hover: #565d6c;
  --color-interactive-contained-secondary-disabled: #9fa5b2;
  --color-interactive-contained-secondary-focus: #292c33;
  --color-interactive-outlined-primary-on-idle: #2b51d4;
  --color-interactive-outlined-primary-outline-idle: #2b51d4;
  --color-interactive-outlined-primary-outline-hover: #477fea;
  --color-interactive-outlined-primary-outline-disabled: #9fa5b2;
  --color-interactive-outlined-primary-focus: #6aa1f0;
  --color-text-default-1: #292c33;
  --color-text-default-2: #565d6c;
  --color-text-inverted-1: #ebedef;
  --color-text-inverted-2: #d2d5db;
  --color-text-default-3: #858d9e;
  --color-text-inverted-3: #b8bdc6;
  --color-interactive-contained-primary-pressed: #6aa1f0;
  --color-interactive-contained-secondary-pressed: #858d9e;
  --color-interactive-outlined-primary-outline-pressed: #6aa1f0;
  --color-elevation-fill-default-3: #ebedef;
  --color-input-outlined-idle: #ffffff;
  --color-input-outlined-active: #ffffff;
  --color-input-filled-idle: #ebedef;
  --color-input-filled-active: #ffffff;
  --color-input-outlined-hover: #ffffff;
  --color-input-outlined-error: #ffffff;
  --color-input-outlined-disabled: #ffffff;
  --color-input-filled-hover: #ebedef;
  --color-input-filled-error: #ebedef;
  --color-input-filled-disabled: #ebedef;
  --color-interactive-contained-success-on-idle: #ffffff;
  --color-interactive-contained-success-idle: #16a34a;
  --color-interactive-contained-success-hover: #22c55e;
  --color-interactive-contained-success-pressed: #4ade81;
  --color-interactive-contained-success-disabled: #86efad;
  --color-interactive-contained-success-focus: #292c33;
  --color-interactive-contained-warning-on-idle: #ffffff;
  --color-interactive-contained-warning-idle: #f5880b;
  --color-interactive-contained-warning-hover: #fb9724;
  --color-interactive-contained-warning-pressed: #fcab4d;
  --color-interactive-contained-warning-disabled: #fdc88a;
  --color-interactive-contained-warning-focus: #292c33;
  --color-interactive-contained-error-on-idle: #ffffff;
  --color-interactive-contained-error-idle: #d43f2b;
  --color-interactive-contained-error-hover: #e85e4b;
  --color-interactive-contained-error-pressed: #f28677;
  --color-interactive-contained-error-disabled: #f8b2a9;
  --color-interactive-contained-error-focus: #292c33;
  --color-interactive-outlined-secondary-on-idle: #565d6c;
  --color-interactive-outlined-secondary-outline-idle: #565d6c;
  --color-interactive-outlined-secondary-outline-hover: #40454f;
  --color-interactive-outlined-secondary-outline-pressed: #292c33;
  --color-interactive-outlined-secondary-outline-disabled: #9fa5b2;
  --color-interactive-outlined-secondary-focus: #292c33;
  --color-interactive-outlined-success-on-idle: #16a34a;
  --color-interactive-outlined-success-outline-idle: #16a34a;
  --color-interactive-outlined-success-outline-hover: #22c55e;
  --color-interactive-outlined-success-outline-pressed: #4ade81;
  --color-interactive-outlined-success-outline-disabled: #9fa5b2;
  --color-interactive-outlined-success-focus: #292c33;
  --color-interactive-outlined-warning-on-idle: #f5880b;
  --color-interactive-outlined-warning-outline-idle: #f5880b;
  --color-interactive-outlined-warning-outline-hover: #fb9724;
  --color-interactive-outlined-warning-outline-pressed: #fcab4d;
  --color-interactive-outlined-warning-outline-disabled: #9fa5b2;
  --color-interactive-outlined-warning-focus: #292c33;
  --color-interactive-outlined-error-on-idle: #d43f2b;
  --color-interactive-outlined-error-outline-idle: #d43f2b;
  --color-interactive-outlined-error-outline-hover: #e85e4b;
  --color-interactive-outlined-error-outline-pressed: #f28677;
  --color-interactive-outlined-error-outline-disabled: #9fa5b2;
  --color-interactive-outlined-error-focus: #292c33;
  --color-interactive-subtle-primary-on-idle: #2840a5;
  --color-interactive-subtle-primary-idle: #f0f5fe;
  --color-interactive-subtle-primary-hover: #dde9fc;
  --color-interactive-subtle-primary-pressed: #c3d9fa;
  --color-interactive-subtle-primary-disabled: #f0f5fe;
  --color-interactive-subtle-primary-focus: #6aa1f0;
  --color-interactive-subtle-secondary-on-idle: #40454f;
  --color-interactive-subtle-secondary-idle: #ebedef;
  --color-interactive-subtle-secondary-hover: #d2d5db;
  --color-interactive-subtle-secondary-pressed: #b8bdc6;
  --color-interactive-subtle-secondary-disabled: #ebedef;
  --color-interactive-subtle-secondary-focus: #292c33;
  --color-interactive-subtle-success-on-idle: #166533;
  --color-interactive-subtle-success-idle: #dcfce8;
  --color-interactive-subtle-success-hover: #bbf7d1;
  --color-interactive-subtle-success-pressed: #86efad;
  --color-interactive-subtle-success-disabled: #dcfce8;
  --color-interactive-subtle-success-focus: #292c33;
  --color-interactive-subtle-warning-on-idle: #92550e;
  --color-interactive-subtle-warning-idle: #fee4c7;
  --color-interactive-subtle-warning-hover: #fdc88a;
  --color-interactive-subtle-warning-pressed: #fcab4d;
  --color-interactive-subtle-warning-disabled: #fee4c7;
  --color-interactive-subtle-warning-focus: #292c33;
  --color-interactive-subtle-error-on-idle: #942e20;
  --color-interactive-subtle-error-idle: #fde6e3;
  --color-interactive-subtle-error-hover: #faccc5;
  --color-interactive-subtle-error-pressed: #f8b2a9;
  --color-interactive-subtle-error-disabled: #fde6e3;
  --color-interactive-subtle-error-focus: #292c33;
  --color-interactive-subtle-primary-on-disabled: #9ac2f6;
  --color-interactive-subtle-secondary-on-disabled: #b8bdc6;
  --color-interactive-subtle-success-on-disabled: #4ade81;
  --color-interactive-subtle-warning-on-disabled: #fcab4d;
  --color-interactive-subtle-error-on-disabled: #f28677;
  --color-text-success-1: #16a34a;
  --color-text-warning-1: #f5880b;
  --color-text-error-1: #d43f2b;
  --color-interactive-text-primary-idle: #2b51d4;
  --color-interactive-text-primary-hover: #477fea;
  --color-interactive-text-primary-pressed: #6aa1f0;
  --color-interactive-text-primary-disabled: #858d9e;
  --color-interactive-text-primary-idle-inverted: #f0f5fe;
  --color-interactive-text-primary-hover-inverted: #9ac2f6;
  --color-interactive-text-primary-pressed-inverted: #477fea;
  --color-interactive-text-secondary-idle: #40454f;
  --color-interactive-text-secondary-hover: #565d6c;
  --color-interactive-text-secondary-pressed: #858d9e;
  --color-interactive-text-secondary-disabled: #858d9e;
  --color-interactive-text-secondary-idle-inverted: #f8f8f9;
  --color-interactive-text-secondary-hover-inverted: #d2d5db;
  --color-interactive-text-secondary-pressed-inverted: #b8bdc6;
  --color-interactive-text-success-idle: #16a34a;
  --color-interactive-text-success-hover: #22c55e;
  --color-interactive-text-success-pressed: #4ade81;
  --color-interactive-text-success-disabled: #858d9e;
  --color-interactive-text-success-idle-inverted: #f0fdf5;
  --color-interactive-text-success-hover-inverted: #bbf7d1;
  --color-interactive-text-success-pressed-inverted: #4ade81;
  --color-interactive-text-warning-idle: #d97706;
  --color-interactive-text-warning-hover: #f5880b;
  --color-interactive-text-warning-pressed: #fb9724;
  --color-interactive-text-warning-disabled: #858d9e;
  --color-interactive-text-warning-idle-inverted: #fff6eb;
  --color-interactive-text-warning-hover-inverted: #fdc88a;
  --color-interactive-text-warning-pressed-inverted: #fcab4d;
  --color-interactive-text-error-idle: #d43f2b;
  --color-interactive-text-error-hover: #e85e4b;
  --color-interactive-text-error-pressed: #f28677;
  --color-interactive-text-error-disabled: #858d9e;
  --color-interactive-text-error-idle-inverted: #fef3f2;
  --color-interactive-text-error-hover-inverted: #faccc5;
  --color-interactive-text-error-pressed-inverted: #f8b2a9;
  --color-interactive-outlined-primary-hover: #f0f5fe;
  --color-interactive-outlined-secondary-hover: #f8f8f9;
  --color-interactive-outlined-success-hover: #f0fdf5;
  --color-interactive-outlined-warning-hover: #fff6eb;
  --color-interactive-outlined-error-hover: #fef3f2;
  --color-elevation-outline-default-3: #9fa5b2;
  --color-elevation-outline-inverted-1: #40454f;
  --color-elevation-outline-inverted-2: #565d6c;
  --color-elevation-outline-inverted-3: #6d7688;
  --color-elevation-outline-success-1: #4ade81;
  --color-elevation-outline-warning-1: #fcab4d;
  --color-elevation-outline-error-1: #e85e4b;
  --color-elevation-fill-inverted-1: #292c33;
  --color-elevation-fill-inverted-2: #40454f;
  --color-elevation-fill-inverted-3: #565d6c;
  --color-elevation-fill-success-1: #16a34a;
  --color-elevation-fill-warning-1: #f5880b;
  --color-elevation-fill-error-1: #d43f2b;
  --color-text-success-2: #22c55e;
  --color-text-warning-2: #fb9724;
  --color-text-error-2: #e85e4b;
  --color-text-success-3: #4ade81;
  --color-text-warning-3: #fcab4d;
  --color-text-error-3: #f28677;
  --color-interactive-contained-primary-on-hover: #ffffff;
  --color-interactive-contained-primary-on-pressed: #ffffff;
  --color-interactive-contained-primary-on-disabled: #ffffff;
  --color-interactive-contained-secondary-on-hover: #ffffff;
  --color-interactive-contained-secondary-on-pressed: #ffffff;
  --color-interactive-contained-secondary-on-disabled: #ffffff;
  --color-interactive-contained-success-on-hover: #ffffff;
  --color-interactive-contained-success-on-pressed: #ffffff;
  --color-interactive-contained-success-on-disabled: #ffffff;
  --color-interactive-contained-warning-on-hover: #ffffff;
  --color-interactive-contained-warning-on-pressed: #ffffff;
  --color-interactive-contained-warning-on-disabled: #ffffff;
  --color-interactive-contained-error-on-hover: #ffffff;
  --color-interactive-contained-error-on-pressed: #ffffff;
  --color-interactive-contained-error-on-disabled: #ffffff;
  --color-interactive-outlined-primary-on-hover: #477fea;
  --color-interactive-outlined-primary-on-pressed: #6aa1f0;
  --color-interactive-outlined-primary-on-disabled: #9fa5b2;
  --color-interactive-outlined-secondary-on-hover: #40454f;
  --color-interactive-outlined-secondary-on-pressed: #292c33;
  --color-interactive-outlined-secondary-on-disabled: #9fa5b2;
  --color-interactive-outlined-success-on-hover: #22c55e;
  --color-interactive-outlined-success-on-pressed: #4ade81;
  --color-interactive-outlined-success-on-disabled: #9fa5b2;
  --color-interactive-outlined-warning-on-hover: #fb9724;
  --color-interactive-outlined-warning-on-pressed: #fcab4d;
  --color-interactive-outlined-warning-on-disabled: #9fa5b2;
  --color-interactive-outlined-error-on-hover: #e85e4b;
  --color-interactive-outlined-error-on-pressed: #f28677;
  --color-interactive-outlined-error-on-disabled: #9fa5b2;
  --color-interactive-subtle-primary-toggled-idle: #dde9fc;
  --color-interactive-subtle-primary-on-hover: #2840a5;
  --color-interactive-subtle-primary-on-pressed: #2840a5;
  --color-interactive-subtle-primary-on-toggled-idle: #2b51d4;
  --color-interactive-subtle-secondary-toggled-idle: #d2d5db;
  --color-interactive-subtle-secondary-on-hover: #40454f;
  --color-interactive-subtle-secondary-on-pressed: #40454f;
  --color-interactive-subtle-secondary-on-toggled-idle: #565d6c;
  --color-interactive-subtle-success-on-hover: #166533;
  --color-interactive-subtle-success-on-pressed: #166533;
  --color-interactive-subtle-warning-on-hover: #92550e;
  --color-interactive-subtle-warning-on-pressed: #92550e;
  --color-interactive-subtle-error-on-hover: #942e20;
  --color-interactive-subtle-error-on-pressed: #942e20;
  --color-interactive-outlined-primary-on-toggled-idle: #ffffff;
  --color-interactive-outlined-primary-on-toggled-hover: #ffffff;
  --color-interactive-outlined-primary-on-toggled-disabled: #ffffff;
  --color-interactive-outlined-primary-toggled-idle: #2b51d4;
  --color-interactive-outlined-primary-toggled-hover: #477fea;
  --color-interactive-outlined-primary-toggled-disabled: #9fa5b2;
  --color-interactive-outlined-primary-pressed: #f0f5fe;
  --color-interactive-outlined-secondary-pressed: #f8f8f9;
  --color-interactive-outlined-secondary-on-toggled-idle: #ffffff;
  --color-interactive-outlined-secondary-on-toggled-hover: #ffffff;
  --color-interactive-outlined-secondary-on-toggled-disabled: #ffffff;
  --color-interactive-outlined-secondary-toggled-idle: #292c33;
  --color-interactive-outlined-secondary-toggled-hover: #858d9e;
  --color-interactive-outlined-secondary-toggled-disabled: #9fa5b2;
  --color-interactive-outlined-success-pressed: #f0fdf5;
  --color-interactive-outlined-warning-pressed: #fff6eb;
  --color-interactive-outlined-error-pressed: #fef3f2;
  --color-elevation-fill-inverted-4: #6d7688;
  --color-interactive-text-primary-focus: #6aa1f0;
  --color-interactive-text-secondary-focus: #292c33;
  --color-interactive-text-secondary-focus-inverted: #d2d5db;
  --color-interactive-text-primary-focus-inverted: #c3d9fa;
  --color-interactive-text-success-focus: #292c33;
  --color-interactive-text-success-focus-inverted: #d2d5db;
  --color-interactive-text-warning-focus: #292c33;
  --color-interactive-text-warning-focus-inverted: #d2d5db;
  --color-interactive-text-error-focus: #292c33;
  --color-interactive-text-error-focus-inverted: #d2d5db;
  --color-interactive-subtle-secondary-on-toggled-hover: #40454f;
  --color-interactive-subtle-secondary-on-toggled-disabled: #9fa5b2;
  --color-interactive-subtle-secondary-toggled-hover: #858d9e;
  --color-interactive-subtle-secondary-toggled-disabled: #ebedef;
  --color-interactive-text-primary-disabled-inverted: #858d9e;
  --color-interactive-text-secondary-disabled-inverted: #858d9e;
  --color-interactive-text-success-disabled-inverted: #15803c;
  --color-interactive-text-warning-disabled-inverted: #d97706;
  --color-interactive-text-error-disabled-inverted: #b33322;
  --color-interactive-subtle-primary-on-toggled-hover: #2840a5;
  --color-interactive-subtle-primary-on-toggled-disabled: #9fa5b2;
  --color-interactive-subtle-primary-toggled-hover: #c3d9fa;
  --color-interactive-subtle-primary-toggled-disabled: #dde9fc;
  --color-input-outlined-outline-idle: #b8bdc6;
  --color-input-outlined-outline-hover: #477fea;
  --color-input-outlined-outline-active: #2b51d4;
  --color-input-outlined-outline-error: #e85e4b;
  --color-input-outlined-outline-disabled: #d2d5db;
  --color-input-filled-outline-error: #e85e4b;
  --color-input-filled-outline-hover: #40454f;
  --color-input-filled-outline-active: #2b51d4;
  --color-interactive-contained-primary-on-toggled-disabled: #9fa5b2;
  --color-interactive-contained-primary-on-toggled-idle: #ffffff;
  --color-interactive-contained-primary-toggled-disabled: #2840a5;
  --color-interactive-contained-primary-toggled-idle: #2840a5;
  --color-interactive-contained-secondary-on-toggled-disabled: #b8bdc6;
  --color-interactive-contained-secondary-on-toggled-idle: #ffffff;
  --color-interactive-contained-secondary-toggled-disabled: #6d7688;
  --color-interactive-contained-secondary-toggled-idle: #6d7688;
  --color-interactive-contained-success-on-toggled-disabled: #b8bdc6;
  --color-interactive-contained-success-on-toggled-idle: #ffffff;
  --color-interactive-contained-success-toggled-disabled: #15803c;
  --color-interactive-contained-success-toggled-idle: #15803c;
  --color-interactive-contained-warning-on-toggled-idle: #ffffff;
  --color-interactive-contained-warning-toggled-disabled: #d97706;
  --color-interactive-contained-warning-on-toggled-disabled: #d2d5db;
  --color-interactive-contained-warning-toggled-idle: #d97706;
  --color-interactive-contained-error-toggled-disabled: #b33322;
  --color-interactive-contained-error-on-toggled-disabled: #9fa5b2;
  --color-interactive-contained-error-on-toggled-idle: #ffffff;
  --color-interactive-contained-error-toggled-idle: #b33322;
  --color-interactive-subtle-success-toggled-disabled: #bbf7d1;
  --color-interactive-subtle-success-on-toggled-disabled: #9fa5b2;
  --color-interactive-subtle-success-on-toggled-idle: #14532b;
  --color-interactive-subtle-success-toggled-idle: #bbf7d1;
  --color-interactive-subtle-warning-on-toggled-idle: #92550e;
  --color-interactive-subtle-warning-toggled-idle: #fee4c7;
  --color-interactive-subtle-warning-on-toggled-disabled: #858d9e;
  --color-interactive-subtle-error-toggled-idle: #faccc5;
  --color-interactive-subtle-error-on-toggled-disabled: #858d9e;
  --color-interactive-subtle-error-on-toggled-idle: #942e20;
  --color-interactive-contained-primary-toggled-hovered: #253a83;
  --color-interactive-contained-primary-on-toggled-hovered: #f8f8f9;
  --color-interactive-contained-secondary-toggled-hovered: #565d6c;
  --color-interactive-contained-secondary-on-toggled-hovered: #f8f8f9;
  --color-interactive-contained-success-toggled-hovered: #166533;
  --color-interactive-contained-success-on-toggled-hovered: #f8f8f9;
  --color-interactive-subtle-success-toggled-hovered: #4ade81;
  --color-interactive-subtle-success-on-toggled-hovered: #052e14;
  --color-interactive-contained-warning-toggled-hovered: #b46509;
  --color-interactive-contained-warning-on-toggled-hovered: #f8f8f9;
  --color-interactive-subtle-warning-toggled-hovered: #fcab4d;
  --color-interactive-subtle-warning-on-toggled-hovered: #452603;
  --color-interactive-contained-error-toggled-hovered: #942e20;
  --color-interactive-contained-error-on-toggled-hovered: #f8f8f9;
  --color-interactive-subtle-error-on-toggled-hovered: #43130c;
  --color-interactive-subtle-error-toggled-hovered: #f28677;
  --radius-none: 0rem;
  --radius-2xs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-s: 0.375rem;
  --radius-sm: 0.5rem;
  --radius-ml: 0.75rem;
  --radius-xl: 1rem;
  --radius-4xl: 1.5rem;
  --radius-full: 624.9375rem;
  --radius-5xl: 1.75rem;
  --radius-6xl: 2rem;
  --radius-m: 0.625rem;
  --radius-l: 0.875rem;
  --radius-2xl: 1.125rem;
  --radius-3xl: 1.25rem;
  --radius-global-rounding-xs: 0.25rem;
  --radius-global-rounding-s: 0.375rem;
  --radius-global-rounding-m: 0.5rem;
  --radius-global-rounding-l: 0.625rem;
  --radius-global-rounding-xl: 0.75rem;
  --radius-input-rounding-default: 0.375rem;
  --radius-list-rounding-actions: 0rem;
  --radius-list-rounding-drawer: 1rem;
  --radius-modal-rounding-default: 0.75rem;
  --radius-toast-rounding-default: 0.5rem;
  --radius-tooltip-rounding-default: 0.5rem;
  --radius-button-rounding-m: 0.375rem;
  --radius-alert-rounding-default: 0.5rem;
  --radius-pill-rounding-default: 0.375rem;
  --radius-button-focus-rounding-m: 0.5rem;
  --radius-list-rounding-dropdown: 0.375rem;
  --radius-button-rounding-s: 0.25rem;
  --radius-button-rounding-xs: 0.125rem;
  --radius-button-rounding-l: 0.5rem;
  --radius-button-rounding-xl: 0.625rem;
  --radius-button-focus-rounding-s: 0.375rem;
  --radius-button-focus-rounding-l: 0.625rem;
  --radius-button-focus-rounding-xl: 0.75rem;
  --radius-file-upload-container-rounding-default: 0.375rem;
  --radius-file-upload-file-card-rounding-default: 0.375rem;
  --radius-image-upload-container-clipping-layer-default: 0rem;
  --radius-segmented-control-rounding-segment: 0.375rem;
  --radius-image-upload-avatar-with-buttons-rounding-default: 624.9375rem;
  --radius-image-overlay-inside-rounding-full: 624.9375rem;
  --radius-segmented-control-rounding-segmented-control: 0.5rem;
  --radius-image-overlay-outside-rounding-full: 624.9375rem;
  --radius-avatar-rounding-default: 624.9375rem;
  --radius-progress-rounding-default: 0.25rem;
  --radius-slider-rounding-default: 0.25rem;
  --container-0: 0rem;
  --container-1: 0.25rem;
  --container-2: 0.5rem;
  --container-3: 0.75rem;
  --container-4: 1rem;
  --container-5: 1.25rem;
  --container-6: 1.5rem;
  --container-7: 1.75rem;
  --container-8: 2rem;
  --container-9: 2.25rem;
  --container-10: 2.5rem;
  --container-11: 2.75rem;
  --container-12: 3rem;
  --container-14: 3.5rem;
  --container-16: 4rem;
  --container-18: 4.5rem;
  --container-20: 5rem;
  --container-24: 6rem;
  --container-28: 7rem;
  --container-32: 8rem;
  --container-36: 9rem;
  --container-40: 10rem;
  --container-44: 11rem;
  --container-48: 12rem;
  --container-52: 13rem;
  --container-56: 14rem;
  --container-60: 15rem;
  --container-64: 16rem;
  --container-72: 18rem;
  --container-80: 20rem;
  --container-96: 24rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --container-2xs: 16rem;
  --container-3xs: 12rem;
  --container-3-5xs: 9.75rem;
  --container-4xs: 8rem;
  --container-4-5xs: 7rem;
  --container-5-5xs: 4.75rem;
  --container-5xs: 6rem;
  --container-px: 0.0625rem;
  --container-0-5: 0.125rem;
  --container-1-5: 0.375rem;
  --container-2-5: 0.625rem;
  --container-3-5: 0.875rem;
  --container-avatar-height-xs: 1.5rem;
  --container-avatar-height-s: 2rem;
  --container-avatar-height-m: 2.5rem;
  --container-avatar-height-l: 3.5rem;
  --container-avatar-height-xl: 4.5rem;
  --container-avatar-height-xxl: 6rem;
  --container-input-width-min-width: 12.75rem;
  --container-button-width-min-width-xxs: 1.625rem;
  --container-button-width-min-width-xs: 1.875rem;
  --container-button-width-min-width-s: 2.125rem;
  --container-button-width-min-width-m: 2.875rem;
  --container-button-width-min-width-l: 3.625rem;
  --container-global-side-xs: 0.125rem;
  --container-global-side-s: 0.25rem;
  --container-global-side-m: 0.625rem;
  --container-global-side-l: 1rem;
  --container-global-side-xl: 1.25rem;
  --container-global-gap-xs: 0.25rem;
  --container-global-gap-s: 0.5rem;
  --container-global-gap-m: 0.75rem;
  --container-global-gap-l: 1rem;
  --container-global-gap-xl: 1.25rem;
  --container-global-gap-ml: 0.875rem;
  --container-global-gap-sm: 0.625rem;
  --container-global-side-sm: 0.375rem;
  --container-global-side-ml: 0.75rem;
  --container-global-height-xs: 0.125rem;
  --container-global-height-s: 0.375rem;
  --container-global-height-m: 0.625rem;
  --container-global-height-l: 0.875rem;
  --container-global-height-xl: 1rem;
  --container-button-height-s: 0.25rem;
  --container-button-height-m: 0.625rem;
  --container-button-height-l: 1rem;
  --container-button-side-s: 0.25rem;
  --container-button-side-m: 1rem;
  --container-button-side-l: 1.75rem;
  --container-list-gap-icon-to-label: 0.25rem;
  --container-input-height-extra-small: 0.125rem;
  --container-input-side-l: 0.75rem;
  --container-input-gap-label-to-input: 0.25rem;
  --container-input-gap-text-area-controls: 0.5rem;
  --container-list-height-item: 0.5rem;
  --container-list-height-actions: 0.375rem;
  --container-list-height-title-top: 0.75rem;
  --container-list-side-item: 1rem;
  --container-list-side-actions: 1rem;
  --container-list-height-bottom: 8rem;
  --container-list-gap-checkbox-to-label: 0.5rem;
  --container-list-gap-label-to-subcontent: 0.0625rem;
  --container-list-side-extra-actions: 1.5rem;
  --container-list-height-extra-actions: 1.5rem;
  --container-modal-side-desktop: 2.5rem;
  --container-modal-height-desktop: 2.5rem;
  --container-modal-gap-buttons: 1rem;
  --container-modal-gap-text: 0.625rem;
  --container-modal-gap-content: 1.75rem;
  --container-modal-gap-form: 2rem;
  --container-toast-height-content: 0.875rem;
  --container-toast-side-default: 1rem;
  --container-toast-gap-action: 1rem;
  --container-tooltip-height-default: 0.5rem;
  --container-tooltip-side-default: 0.75rem;
  --container-table-cell-content-gap-s: 0.25rem;
  --container-table-cell-content-gap-m: 0.375rem;
  --container-table-cell-content-gap-l: 0.5rem;
  --container-table-cell-content-height-s: 0.25rem;
  --container-table-cell-content-height-m: 0.375rem;
  --container-table-cell-content-side-s: 0.375rem;
  --container-table-cell-content-side-m: 0.5rem;
  --container-table-cell-container-height-default: 0.5rem;
  --container-table-cell-container-side-default: 0.5rem;
  --container-table-header-cell-container-height-default: 0.5rem;
  --container-table-header-cell-container-side-default: 0.5rem;
  --container-toast-height-actions-mobile: 0.5rem;
  --container-toast-gap-icon-to-text: 0.75rem;
  --container-alert-height-content: 0.875rem;
  --container-alert-height-actions-mobile: 0.5rem;
  --container-alert-side-default: 1rem;
  --container-alert-gap-icon-to-text: 0.75rem;
  --container-alert-gap-action: 1rem;
  --container-slider-side-bar: 0rem;
  --container-slider-height-bar: 0.625rem;
  --container-input-gap-error-to-input: 0.375rem;
  --container-list-side-title: 1rem;
  --container-list-gap-title-to-icon: 0.125rem;
  --container-list-gap-title-to-helper-text: 0rem;
  --container-list-height-title-bottom: 0.375rem;
  --container-toast-height-actions-desktop: 0.75rem;
  --container-alert-height-actions-desktop: 0.75rem;
  --container-tooltip-gap-margin: 0.75rem;
  --container-list-gap-margin: 1rem;
  --container-modal-gap-buttons-top: 0.25rem;
  --container-list-height-subcontent-bottom: 0.25rem;
  --container-pill-side-default: 0.5rem;
  --container-pill-height-default: 0.125rem;
  --container-button-focus-rounding-xs: 0.125rem;
  --container-modal-side-mobile: 1rem;
  --container-modal-height-mobile: 1rem;
  --container-pill-gap-pill-to-pill: 0.5rem;
  --container-progress-side-bar: 0.5rem;
  --container-progress-height-bar: 0.375rem;
  --container-file-upload-container-height-top-bottom: 1.5rem;
  --container-file-upload-container-side-default: 1.5rem;
  --container-file-upload-file-card-height-top-bottom: 1rem;
  --container-file-upload-file-card-side-default: 1rem;
  --container-file-upload-content-height-xs: 0.25rem;
  --container-file-upload-content-height-s: 0.5rem;
  --container-file-upload-content-height-m: 1rem;
  --container-file-upload-content-height-l: 1.75rem;
  --container-file-upload-content-height-xl: 2rem;
  --container-input-gap-trailing-elements: 0.25rem;
  --container-toast-gap-margin-desktop: 2rem;
  --container-toast-gap-margin-mobile: 1rem;
  --container-list-gap-content: 0.375rem;
  --container-floating-label-input-height-empty: 1rem;
  --container-floating-label-input-height-filled: 0.5rem;
  --container-floating-label-input-gap-label-to-input: 0.25rem;
  --container-floating-label-input-gap-trailing-elements: 0.25rem;
  --container-floating-label-input-gap-error-to-input: 0.375rem;
  --container-file-upload-content-gap-icon-to-content: 0.5rem;
  --container-file-upload-content-gap-text-to-text: 0.25rem;
  --container-file-upload-content-gap-content-to-button: 1.25rem;
  --container-file-upload-content-gap-text-to-progress: 0.25rem;
  --container-file-upload-content-gap-progress-actions: 0.5rem;
  --container-file-upload-content-gap-left-to-right-content: 1rem;
  --container-file-upload-content-gap-button-to-button: 1rem;
  --container-file-upload-file-card-gap-icon-to-content-gap: 0.5rem;
  --container-file-upload-file-card-gap-text-to-text-gap: 0.25rem;
  --container-file-upload-file-card-gap-progress-actions-gap: 0.5rem;
  --container-file-upload-file-card-gap-left-to-right-content-gap: 1rem;
  --container-file-upload-file-card-gap-trailing-actions: 0.5rem;
  --container-file-upload-input-gap-input-to-button-gap: 0.625rem;
  --container-image-upload-content-gap-icon-to-content-gap: 0.5rem;
  --container-image-upload-avatar-with-buttons-height-top-bottom: 0rem;
  --container-image-upload-avatar-with-buttons-side-default: 0rem;
  --container-image-upload-avatar-with-buttons-gap-avatar-to-content-gap: 1.25rem;
  --container-image-upload-avatar-with-buttons-gap-text-to-text-gap: 0.25rem;
  --container-image-upload-avatar-with-buttons-gap-text-to-buttons-gap: 1.25rem;
  --container-image-upload-avatar-with-buttons-gap-actions-gap: 1rem;
  --container-segmented-control-height-segment: 0.375rem;
  --container-segmented-control-side-segment: 0.75rem;
  --container-segmented-control-gap-content-icon-to-text: 0.25rem;
  --container-segmented-control-gap-segment-to-segment: 0.125rem;
  --container-image-overlay-inside-rounding-none: 0rem;
  --container-image-overlay-inside-rounding-rounded: 1rem;
  --container-segmented-control-side-content: 0.375rem;
  --container-segmented-control-side-segmented-control: 0.125rem;
  --container-image-overlay-outside-rounding-none: 0rem;
  --container-image-overlay-outside-rounding-rounded: 1rem;
  --container-input-gap-leading-elements: 0.375rem;
  --container-image-upload-avatar-with-buttons-gap-icon-button-right-bottom: 0rem;
  --container-image-upload-container-gap-icon-button-right-bottom: 0rem;
  --container-modal-gap-desktop-modal-close-icon-top-right: 0.25rem;
  --container-modal-gap-mobile-modal-close-icon-top-right: 0rem;
  --container-modal-gap-close-icon-container: 0.5rem;
  --container-list-gap-nav-button-icon-to-label: 0.125rem;
  --container-list-gap-footer-button-icon-to-label: 0.125rem;
  --container-button-height-xs: 0.125rem;
  --container-button-side-xs: 0.125rem;
  --container-input-gap-header-text-to-elements: 0.125rem;
  --container-floating-label-input-gap-header-text-to-elements: 0.125rem;
  --container-floating-label-input-gap-leading-elements: 0.375rem;
  --container-input-gap-input-text-to-elements: 0.5rem;
  --container-input-gap-text-to-text: 0.25rem;
  --container-avatar-padding-xs: 0.25rem;
  --container-avatar-padding-s: 0.5rem;
  --container-avatar-padding-m: 0.625rem;
  --container-avatar-padding-l: 1rem;
  --container-avatar-padding-xl: 1.25rem;
  --container-avatar-padding-xxl: 1.75rem;
  --container-progress-height-leading-and-trailing: 0.375rem;
  --container-progress-side-leading-and-trailing: 0.5rem;
  --container-slider-height-leading-and-trailing: 0.625rem;
  --container-slider-side-leading-and-trailing: 0rem;
  --container-button-height-none: 0rem;
  --container-button-side-none: 0rem;
  --container-button-rounding-none: 0rem;
  --container-input-height-small: 0.25rem;
  --container-input-height-default: 0.625rem;
  --container-input-height-large: 1rem;
  --container-pagination-button-to-button: 0.5rem;
  --container-button-button-content-side-none: 0rem;
  --container-button-button-content-icon-to-label: 0.25rem;
  --container-button-button-content-side-default: 0.375rem;
  --container-button-button-content-height-none: 0rem;
  --container-button-side-sm: 0.5rem;
  --container-button-side-ml: 1rem;
  --container-input-side-xs: 0.25rem;
  --container-input-side-s: 0.375rem;
  --container-input-side-m: 0.625rem;
  --container-input-side-default: 0.75rem;
  --container-button-side-xxs: 0.125rem;
  --container-button-segment-control-buttonside-xs: 0.875rem;
  --container-button-segment-control-buttonside-s: 1.25rem;
  --container-button-segment-control-buttonside-m: 2rem;
  --container-button-segment-control-buttonside-l: 4rem;
  --container-button-segment-control-segment-side-xs: 0.125rem;
  --container-button-segment-control-segment-side-s: 0.25rem;
  --container-button-segment-control-segment-side-m: 0.375rem;
  --container-button-segment-control-segment-side-l: 0.375rem;
  --container-button-segment-control-segment-height-xs: 0.125rem;
  --container-button-segment-control-segment-height-s: 0.25rem;
  --container-button-segment-control-segment-height-m: 0.375rem;
  --container-button-segment-control-segment-height-l: 0.375rem;
  --spacing-0: 0rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-18: 4.5rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --spacing-px: 0.0625rem;
  --spacing-0-5: 0.125rem;
  --spacing-1-5: 0.375rem;
  --spacing-2-5: 0.625rem;
  --spacing-3-5: 0.875rem;
  --spacing-avatar-height-xs: 1.5rem;
  --spacing-avatar-height-s: 2rem;
  --spacing-avatar-height-m: 2.5rem;
  --spacing-avatar-height-l: 3.5rem;
  --spacing-avatar-height-xl: 4.5rem;
  --spacing-avatar-height-xxl: 6rem;
  --spacing-button-width-min-width-xxs: 1.625rem;
  --spacing-button-width-min-width-xs: 1.875rem;
  --spacing-button-width-min-width-s: 2.125rem;
  --spacing-button-width-min-width-m: 2.875rem;
  --spacing-button-width-min-width-l: 3.625rem;
  --spacing-global-side-xs: 0.125rem;
  --spacing-global-side-s: 0.25rem;
  --spacing-global-side-m: 0.625rem;
  --spacing-global-side-l: 1rem;
  --spacing-global-side-xl: 1.25rem;
  --spacing-global-gap-xs: 0.25rem;
  --spacing-global-gap-s: 0.5rem;
  --spacing-global-gap-m: 0.75rem;
  --spacing-global-gap-l: 1rem;
  --spacing-global-gap-xl: 1.25rem;
  --spacing-global-gap-ml: 0.875rem;
  --spacing-global-gap-sm: 0.625rem;
  --spacing-global-side-sm: 0.375rem;
  --spacing-global-side-ml: 0.75rem;
  --spacing-global-height-xs: 0.125rem;
  --spacing-global-height-s: 0.375rem;
  --spacing-global-height-m: 0.625rem;
  --spacing-global-height-l: 0.875rem;
  --spacing-global-height-xl: 1rem;
  --spacing-button-height-s: 0.25rem;
  --spacing-button-height-m: 0.625rem;
  --spacing-button-height-l: 1rem;
  --spacing-button-side-s: 0.25rem;
  --spacing-button-side-m: 1rem;
  --spacing-button-side-l: 1.75rem;
  --spacing-list-gap-icon-to-label: 0.25rem;
  --spacing-input-height-extra-small: 0.125rem;
  --spacing-input-side-l: 0.75rem;
  --spacing-input-gap-label-to-input: 0.25rem;
  --spacing-input-gap-text-area-controls: 0.5rem;
  --spacing-list-height-item: 0.5rem;
  --spacing-list-height-actions: 0.375rem;
  --spacing-list-height-title-top: 0.75rem;
  --spacing-list-side-item: 1rem;
  --spacing-list-side-actions: 1rem;
  --spacing-list-height-bottom: 8rem;
  --spacing-list-gap-checkbox-to-label: 0.5rem;
  --spacing-list-gap-label-to-subcontent: 0.0625rem;
  --spacing-list-side-extra-actions: 1.5rem;
  --spacing-list-height-extra-actions: 1.5rem;
  --spacing-modal-side-desktop: 2.5rem;
  --spacing-modal-height-desktop: 2.5rem;
  --spacing-modal-gap-buttons: 1rem;
  --spacing-modal-gap-text: 0.625rem;
  --spacing-modal-gap-content: 1.75rem;
  --spacing-modal-gap-form: 2rem;
  --spacing-toast-height-content: 0.875rem;
  --spacing-toast-side-default: 1rem;
  --spacing-toast-gap-action: 1rem;
  --spacing-tooltip-height-default: 0.5rem;
  --spacing-tooltip-side-default: 0.75rem;
  --spacing-table-cell-content-gap-s: 0.25rem;
  --spacing-table-cell-content-gap-m: 0.375rem;
  --spacing-table-cell-content-gap-l: 0.5rem;
  --spacing-table-cell-content-height-s: 0.25rem;
  --spacing-table-cell-content-height-m: 0.375rem;
  --spacing-table-cell-content-side-s: 0.375rem;
  --spacing-table-cell-content-side-m: 0.5rem;
  --spacing-table-cell-container-height-default: 0.5rem;
  --spacing-table-cell-container-side-default: 0.5rem;
  --spacing-table-header-cell-container-height-default: 0.5rem;
  --spacing-table-header-cell-container-side-default: 0.5rem;
  --spacing-toast-height-actions-mobile: 0.5rem;
  --spacing-toast-gap-icon-to-text: 0.75rem;
  --spacing-alert-height-content: 0.875rem;
  --spacing-alert-height-actions-mobile: 0.5rem;
  --spacing-alert-side-default: 1rem;
  --spacing-alert-gap-icon-to-text: 0.75rem;
  --spacing-alert-gap-action: 1rem;
  --spacing-slider-side-bar: 0rem;
  --spacing-slider-height-bar: 0.625rem;
  --spacing-input-gap-error-to-input: 0.375rem;
  --spacing-list-side-title: 1rem;
  --spacing-list-gap-title-to-icon: 0.125rem;
  --spacing-list-gap-title-to-helper-text: 0rem;
  --spacing-list-height-title-bottom: 0.375rem;
  --spacing-toast-height-actions-desktop: 0.75rem;
  --spacing-alert-height-actions-desktop: 0.75rem;
  --spacing-tooltip-gap-margin: 0.75rem;
  --spacing-list-gap-margin: 1rem;
  --spacing-modal-gap-buttons-top: 0.25rem;
  --spacing-list-height-subcontent-bottom: 0.25rem;
  --spacing-pill-side-default: 0.5rem;
  --spacing-pill-height-default: 0.125rem;
  --spacing-button-focus-rounding-xs: 0.125rem;
  --spacing-modal-side-mobile: 1rem;
  --spacing-modal-height-mobile: 1rem;
  --spacing-pill-gap-pill-to-pill: 0.5rem;
  --spacing-progress-side-bar: 0.5rem;
  --spacing-progress-height-bar: 0.375rem;
  --spacing-file-upload-container-height-top-bottom: 1.5rem;
  --spacing-file-upload-container-side-default: 1.5rem;
  --spacing-file-upload-file-card-height-top-bottom: 1rem;
  --spacing-file-upload-file-card-side-default: 1rem;
  --spacing-file-upload-content-height-xs: 0.25rem;
  --spacing-file-upload-content-height-s: 0.5rem;
  --spacing-file-upload-content-height-m: 1rem;
  --spacing-file-upload-content-height-l: 1.75rem;
  --spacing-file-upload-content-height-xl: 2rem;
  --spacing-input-gap-trailing-elements: 0.25rem;
  --spacing-toast-gap-margin-desktop: 2rem;
  --spacing-toast-gap-margin-mobile: 1rem;
  --spacing-list-gap-content: 0.375rem;
  --spacing-floating-label-input-height-empty: 1rem;
  --spacing-floating-label-input-height-filled: 0.5rem;
  --spacing-floating-label-input-gap-label-to-input: 0.25rem;
  --spacing-floating-label-input-gap-trailing-elements: 0.25rem;
  --spacing-floating-label-input-gap-error-to-input: 0.375rem;
  --spacing-file-upload-content-gap-icon-to-content: 0.5rem;
  --spacing-file-upload-content-gap-text-to-text: 0.25rem;
  --spacing-file-upload-content-gap-content-to-button: 1.25rem;
  --spacing-file-upload-content-gap-text-to-progress: 0.25rem;
  --spacing-file-upload-content-gap-progress-actions: 0.5rem;
  --spacing-file-upload-content-gap-left-to-right-content: 1rem;
  --spacing-file-upload-content-gap-button-to-button: 1rem;
  --spacing-file-upload-file-card-gap-icon-to-content-gap: 0.5rem;
  --spacing-file-upload-file-card-gap-text-to-text-gap: 0.25rem;
  --spacing-file-upload-file-card-gap-progress-actions-gap: 0.5rem;
  --spacing-file-upload-file-card-gap-left-to-right-content-gap: 1rem;
  --spacing-file-upload-file-card-gap-trailing-actions: 0.5rem;
  --spacing-file-upload-input-gap-input-to-button-gap: 0.625rem;
  --spacing-image-upload-content-gap-icon-to-content-gap: 0.5rem;
  --spacing-image-upload-avatar-with-buttons-height-top-bottom: 0rem;
  --spacing-image-upload-avatar-with-buttons-side-default: 0rem;
  --spacing-image-upload-avatar-with-buttons-gap-avatar-to-content-gap: 1.25rem;
  --spacing-image-upload-avatar-with-buttons-gap-text-to-text-gap: 0.25rem;
  --spacing-image-upload-avatar-with-buttons-gap-text-to-buttons-gap: 1.25rem;
  --spacing-image-upload-avatar-with-buttons-gap-actions-gap: 1rem;
  --spacing-segmented-control-height-segment: 0.375rem;
  --spacing-segmented-control-side-segment: 0.75rem;
  --spacing-segmented-control-gap-content-icon-to-text: 0.25rem;
  --spacing-segmented-control-gap-segment-to-segment: 0.125rem;
  --spacing-image-overlay-inside-rounding-none: 0rem;
  --spacing-image-overlay-inside-rounding-rounded: 1rem;
  --spacing-segmented-control-side-content: 0.375rem;
  --spacing-segmented-control-side-segmented-control: 0.125rem;
  --spacing-image-overlay-outside-rounding-none: 0rem;
  --spacing-image-overlay-outside-rounding-rounded: 1rem;
  --spacing-input-gap-leading-elements: 0.375rem;
  --spacing-image-upload-avatar-with-buttons-gap-icon-button-right-bottom: 0rem;
  --spacing-image-upload-container-gap-icon-button-right-bottom: 0rem;
  --spacing-modal-gap-desktop-modal-close-icon-top-right: 0.25rem;
  --spacing-modal-gap-mobile-modal-close-icon-top-right: 0rem;
  --spacing-modal-gap-close-icon-container: 0.5rem;
  --spacing-list-gap-nav-button-icon-to-label: 0.125rem;
  --spacing-list-gap-footer-button-icon-to-label: 0.125rem;
  --spacing-button-height-xs: 0.125rem;
  --spacing-button-side-xs: 0.125rem;
  --spacing-input-gap-header-text-to-elements: 0.125rem;
  --spacing-floating-label-input-gap-header-text-to-elements: 0.125rem;
  --spacing-floating-label-input-gap-leading-elements: 0.375rem;
  --spacing-input-gap-input-text-to-elements: 0.5rem;
  --spacing-input-gap-text-to-text: 0.25rem;
  --spacing-avatar-padding-xs: 0.25rem;
  --spacing-avatar-padding-s: 0.5rem;
  --spacing-avatar-padding-m: 0.625rem;
  --spacing-avatar-padding-l: 1rem;
  --spacing-avatar-padding-xl: 1.25rem;
  --spacing-avatar-padding-xxl: 1.75rem;
  --spacing-progress-height-leading-and-trailing: 0.375rem;
  --spacing-progress-side-leading-and-trailing: 0.5rem;
  --spacing-slider-height-leading-and-trailing: 0.625rem;
  --spacing-slider-side-leading-and-trailing: 0rem;
  --spacing-button-height-none: 0rem;
  --spacing-button-side-none: 0rem;
  --spacing-button-rounding-none: 0rem;
  --spacing-input-height-small: 0.25rem;
  --spacing-input-height-default: 0.625rem;
  --spacing-input-height-large: 1rem;
  --spacing-pagination-button-to-button: 0.5rem;
  --spacing-button-button-content-side-none: 0rem;
  --spacing-button-button-content-icon-to-label: 0.25rem;
  --spacing-button-button-content-side-default: 0.375rem;
  --spacing-button-button-content-height-none: 0rem;
  --spacing-button-side-sm: 0.5rem;
  --spacing-button-side-ml: 1rem;
  --spacing-input-side-xs: 0.25rem;
  --spacing-input-side-s: 0.375rem;
  --spacing-input-side-m: 0.625rem;
  --spacing-input-side-default: 0.75rem;
  --spacing-button-side-xxs: 0.125rem;
  --spacing-button-segment-control-buttonside-xs: 0.875rem;
  --spacing-button-segment-control-buttonside-s: 1.25rem;
  --spacing-button-segment-control-buttonside-m: 2rem;
  --spacing-button-segment-control-buttonside-l: 4rem;
  --spacing-button-segment-control-segment-side-xs: 0.125rem;
  --spacing-button-segment-control-segment-side-s: 0.25rem;
  --spacing-button-segment-control-segment-side-m: 0.375rem;
  --spacing-button-segment-control-segment-side-l: 0.375rem;
  --spacing-button-segment-control-segment-height-xs: 0.125rem;
  --spacing-button-segment-control-segment-height-s: 0.25rem;
  --spacing-button-segment-control-segment-height-m: 0.375rem;
  --spacing-button-segment-control-segment-height-l: 0.375rem;
  --shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-3: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-4: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-5: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-6: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: 0 2px 4px 0 rgba(0, 0, 0, 0.06) inset;
  --blur-0: 0px;
  --blur-1: 2px;
  --blur-2: 4px;
  --blur-3: 6px;
  --blur-4: 8px;
  --blur-5: 12px;
  --blur-6: 20px;
  --blur-7: 32px;
  --text-desktop-headline-1: 3.5rem;
  --text-desktop-headline-1--line-height: 1.2857;
  --text-desktop-headline-1--letter-spacing: 0em;
  --text-desktop-title-1: 3rem;
  --text-desktop-title-1--line-height: 1.25;
  --text-desktop-title-1--letter-spacing: 0em;
  --text-desktop-title-2: 2rem;
  --text-desktop-title-2--line-height: 1.3125;
  --text-desktop-title-2--letter-spacing: 0em;
  --text-desktop-title-3: 1.75rem;
  --text-desktop-title-3--line-height: 1.3571;
  --text-desktop-title-3--letter-spacing: 0em;
  --text-desktop-title-4: 1.375rem;
  --text-desktop-title-4--line-height: 1.2727;
  --text-desktop-title-4--letter-spacing: 0em;
  --text-desktop-title-5: 1.125rem;
  --text-desktop-title-5--line-height: 1.4444;
  --text-desktop-title-5--letter-spacing: 0em;
  --text-desktop-title-6: 1rem;
  --text-desktop-title-6--line-height: 1.5;
  --text-desktop-title-6--letter-spacing: 0em;
  --text-mobile-headline-1: 2rem;
  --text-mobile-headline-1--line-height: 1.1875;
  --text-mobile-headline-1--letter-spacing: 0em;
  --text-mobile-title-1: 1.75rem;
  --text-mobile-title-1--line-height: 1.2857;
  --text-mobile-title-1--letter-spacing: 0em;
  --text-mobile-title-2: 1.5rem;
  --text-mobile-title-2--line-height: 1.3333;
  --text-mobile-title-2--letter-spacing: 0em;
  --text-mobile-title-3: 1.125rem;
  --text-mobile-title-3--line-height: 1.4444;
  --text-mobile-title-3--letter-spacing: 0em;
  --text-mobile-title-4: 1rem;
  --text-mobile-title-4--line-height: 1.5;
  --text-mobile-title-4--letter-spacing: 0em;
  --text-mobile-title-5: 0.875rem;
  --text-mobile-title-5--line-height: 1.2857;
  --text-mobile-title-5--letter-spacing: 0em;
  --text-mobile-title-6: 0.875rem;
  --text-mobile-title-6--line-height: 1.2857;
  --text-mobile-title-6--letter-spacing: 0em;
  --text-desktop-body-1: 1.25rem;
  --text-desktop-body-1--line-height: 1.8;
  --text-desktop-body-1--letter-spacing: 0em;
  --text-desktop-body-2: 1.125rem;
  --text-desktop-body-2--line-height: 1.7778;
  --text-desktop-body-2--letter-spacing: -0.0018em;
  --text-desktop-body-3: 1rem;
  --text-desktop-body-3--line-height: 1.75;
  --text-desktop-body-3--letter-spacing: -0.0016em;
  --text-desktop-body-4: 0.875rem;
  --text-desktop-body-4--line-height: 1.7143;
  --text-desktop-body-4--letter-spacing: -0.0014em;
  --text-mobile-body-1: 1.125rem;
  --text-mobile-body-1--line-height: 1.5556;
  --text-mobile-body-1--letter-spacing: 0em;
  --text-mobile-body-2: 1rem;
  --text-mobile-body-2--line-height: 1.75;
  --text-mobile-body-2--letter-spacing: -0.0016em;
  --text-mobile-body-3: 0.9375rem;
  --text-mobile-body-3--line-height: 1.7333;
  --text-mobile-body-3--letter-spacing: -0.0015em;
  --text-mobile-body-4: 0.875rem;
  --text-mobile-body-4--line-height: 1.7143;
  --text-mobile-body-4--letter-spacing: -0.0014em;
  --text-label-1: 1rem;
  --text-label-1--line-height: 1.5;
  --text-label-1--letter-spacing: 0em;
  --text-label-2: 0.875rem;
  --text-label-2--line-height: 1.7143;
  --text-label-2--letter-spacing: 0em;
  --text-label-3: 0.75rem;
  --text-label-3--line-height: 1.3333;
  --text-label-3--letter-spacing: -0.0012em;
  --font-secondary: var(--font-geist-base), sans-serif;
  --font-geist: var(--font-geist-base), sans-serif;
  --font-primary: var(--font-inter-base), sans-serif;
  --font-inter: var(--font-inter-base), sans-serif;
  --font-weight-headings-default: 500;
  --font-weight-headings-prominent-1: 600;
  --font-weight-body-default: 400;
  --font-weight-body-prominent-1: 500;
  --font-weight-body-prominent-2: 600;
  --font-weight-labels-default: 500;
  --font-weight-labels-prominent-1: 600;
}
